.errorpage-wrap{
    background-color: rgb(55, 14, 73);
    color: rgb(255, 255, 255);
    padding: 120px 0 0;
    text-align: center;
}

@media(min-width:768px) {
    .errorpage-wrap{
        text-align: left;
    }
}

.oops{
    font-size: 30px;
    display: block;
    margin: 0 0 3px;
}

@media(min-width:1024) {
    .oops {
        margin: 0 0 60px;
    }
}

.lost{
    font-size: 25px;
}

.errorpage-wrap h1 {
    margin-top: 185px;
}

.lost a {
    background-color: #FFE44C;    
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 30px;
    border: 1px solid #FFE44C;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 30px;    
    transition: 400ms ease;
}

.lost a:hover,
.lost a:focus {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
}

@media(min-width:768px) {
    .lost a {
        margin-top: 0;
    }
}