/*  enterprise-pink.css
*   ===========================================================================
*/

.enterprise-template .btn-search {
    background-color: #e61b41;
    border: 1px solid #e61b41;
}

#tab-accordion .panel-default > .panel-heading > .panel-title > a {
    color: #e61b41;
}

.btn-buy,
.read-more,
.read-more-inside,
.btn-review,
.contact-btn-send,
.btn-send,
.btn-send-review,
.hav-look-link {
    background-color: #6548bc;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #e61b41;
}

#category-collapse .dropdown-menu > li > .listings > a:hover {
    color: #e61b41;
}

.aside-header {
    background-color: #e61b41;
}

.content-header {
    border-bottom: 4px solid #e61b41;
}

.content-header span {
    border-bottom: 4px solid #6548bc;
    color: #e61b41;
}

.product-detail h2 {
    color: #e61b41;
}

#category-collapse .nav .open > a,
#category-collapse .nav .open > a:hover,
#category-collapse .nav .open > a:focus {
    background-color: #e61b41;
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-prev,
#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    background-color: #e61b41;
}

.image-wrapper:hover > span,
.image-wrapper:focus > span {
    color: #e61b41;
}

#banner-slider.owl-theme .owl-controls .owl-page.active span,
#banner-slider.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #e61b41;
}

#one-slider,
#two-slider {
    border: 1px solid #e61b41;
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background-color: #363636;
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next {
    background-color: #e61b41;
}

#tab.nav-tabs > li.active > a,
#tab.nav-tabs > li.active > a:hover,
#tab.nav-tabs > li.active > a:focus {
    background-color: #e61b41;
}

#tab.nav > li > a:hover,
#tab.nav > li > a:focus {
    background-color: #e61b41;
}

.navbar-toggle.category-collaps {
    background-color: #e61b41;
}
