/*  enterprise-red.css
*   ===========================================================================
*/
.btn-buy,
.read-more,
.read-more-inside,
.btn-review,
.contact-btn-send,
.btn-send,
.btn-send-review,
.hav-look-link {
    background-color: #f5b31f;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ce1828;
}

#category-collapse .dropdown-menu > li > .listings > a:hover {
    color: #ce1828;
}

.aside-header {
    background-color: #ce1828;
}

.content-header {
    border-bottom: 4px solid #ce1828;
}

.content-header span {
    border-bottom: 4px solid #f5b31f;
    color: #ce1828;
}

.product-detail h2 {
    color: #ce1828;
}

#category-collapse .nav .open > a,
#category-collapse .nav .open > a:hover,
#category-collapse .nav .open > a:focus {
    background-color: #ce1828;
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-prev,
#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    background-color: #ce1828;
}

.image-wrapper:hover > span,
.image-wrapper:focus > span {
    color: #ce1828;
}

#banner-slider.owl-theme .owl-controls .owl-page.active span,
#banner-slider.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ce1828;
}

#one-slider,
#two-slider {
    border: 1px solid #ce1828;
}


#sync1.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background-color: #363636;
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next {
    background-color: #ce1828;
}
#tab.nav-tabs > li.active > a,
#tab.nav-tabs > li.active > a:hover,
#tab.nav-tabs > li.active > a:focus {
    background-color: #ce1828;
}

#tab.nav > li > a:hover,
#tab.nav > li > a:focus {
    background-color: #ce1828;
}
