.login-page-section { padding: 0 0 60px; }
.login-section { padding: 30px 0 0; }
.login-wrapper { background: #fdfdfd; background: -moz-linear-gradient(left, #fdfdfd 0%, #ffffff 100%); background: -webkit-linear-gradient(left, #fdfdfd 0%, #ffffff 100%); background: linear-gradient(to right, #fdfdfd 0%, #ffffff 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ffffff', GradientType=1); padding: 60px 0 0; }
.login-form { width: auto; min-height: 260px; padding: 0 20px 20px; margin: 0 auto; display: flex; align-items: center; flex-direction: column; justify-content: center; border-radius: 5px; text-align: center; }
.login-form.change-password, .login-form.resend-modal { width: auto; }
.login-form h2 { font-size: 24px; margin: 0 0 30px; }
.login-form form { width: 100%; }
.login-form .form-group { border-bottom: 1px solid rgb(233, 233, 233); padding: 5px 10px; }
.login-form label { float: right; width: 26px; height: 26px; padding: 6px 0; margin: 5px 0; background-color: #272727; border-radius: 50%; font-size: 14px; text-align: center; color: #fff; transition: 400ms ease; }
.login-form input.form-control:focus + label { background-color: rgb(84, 61, 152);}
.login-form input.form-control { width: 80%; background-color: rgba(0, 0, 0, 0); color: rgb(39, 39, 39); padding: 6px 12px 6px 5px; border: none; box-shadow: none; float: left; }
.login-form a { color: rgb(119, 119, 119); display: block; padding: 5px 0; font-size: 14px; float: left; }
.login-form a i { margin: 0 10px 0 0; display: inline-block; vertical-align: middle; }
.login-form a span { display: inline-block; vertical-align: middle; }
.btn-login { width: 100px; padding: 5px; background-color: rgb(84, 61, 152);border: 1px solid rgb(84, 61, 152); color: #fff; float: right; transition: 400ms ease; }
.btn-login:hover { background-color: rgb(255, 255, 255); color: rgb(84, 61, 152); }
.login-form > span { display: block; font-size: 16px; margin: 15px 0 5px; }
span.seprator { width: 100%; height: auto; margin: 30px 0 0 0; position: relative; right: 0; top: 10px; }
.seprator span { width: 100%; height: auto; align-items: center; display: flex; justify-content: center; position: relative; }
.seprator span:before { width: 100px; height: 1px; background-color: rgb(187, 187, 187); position: absolute; left: 0; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); content: ""; }
.seprator > span:after { width: 100px; height: 1px; background-color: rgb(187, 187, 187); position: absolute; right: 0; top: 50%; bottom: auto; transform: translateY(-50%); -webkit-transform: translateY(-50%); content: ""; }
.login-form span.signin-desc { color: rgb(119, 119, 119); font-size: 12px; margin: 0 0 15px; }
.alert.alert-message { bottom: -60px; color: rgb(228, 49, 52); left: 50%; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
@media(min-width:768px) {
    .login-form { width: 380px; }
    .login-form input.form-control { width: 280px; }
    span.seprator { width: auto; height: 100%; margin: 0; right: 0; position: absolute; }
    .seprator span { width: auto; height: 100%; }
    .seprator span:before { width: 1px; height: 80px; left: 50%; top: 50px; transform: translateY(0); -webkit-transform: translateY(0); }
    .seprator span:after { width: 1px; height: 80px; left: 50%; right: auto; bottom: 50px; top: auto; transform: translateY(0); -webkit-transform: translateY(0); }
}

@media(min-width:1200px) {
    span.seprator { right: -20px; }
}
.other-login { background-color: rgba(0, 0, 0, 0); padding: 20px 0 0; text-align: center; }
.other-login h3 { font-size: 20px; margin: 0 0 20px; text-align: left; }
.other-login ul { list-style: outside none none; padding: 0; }
.other-login li a { border-bottom: 1px solid rgb(234, 234, 234); color: rgb(119, 119, 119); display: block; font-size: 14px; padding: 10px 0; }
.other-login li a:hover, .other-login li a:focus { color: #E43134; border-bottom: 1px solid #E43134; }
.other-login img { transform: scale(0.8); -webkit-transform: scale(0.8); }
.other-login span { margin: 0 0 0 20px; }
.other-login span { border-bottom: 1px solid rgb(242, 242, 242); display: block; margin: 0 0 15px; padding: 0 0 10px; }
.other-login h4 { font-size: 16px; line-height: 26px; }
.other-login ul li { padding: 0; }
.other-login ul li::before { display: none; }
.signup-option { margin: 0 0 50px; }
.title-header {font-size: 24px;margin: 0 0 30px;}
.signup-option h2.title-header { color: rgb(119, 119, 119); }
.signup-option h2.title-header a { color: rgb(84, 61, 152); }
.signin-facebook, .signin-google { width: 200px; font-size: 14px; color: rgb(255, 255, 255); margin: 0 auto; display: block; text-align: left; }
.signin-facebook:hover, .signin-facebook:focus, .signin-google:hover, .signin-google:focus { color: rgb(255, 255, 255); }
.signin-facebook { background-color: rgb(72, 103, 170); margin: 0 auto 10px; }
.signin-facebook:hover, .signin-facebook:focus { background-color: rgb(63, 90, 150); }
.signin-google { background-color: rgb(234, 67, 53); }
.signin-google:hover, .signin-google:focus { background-color: rgb(214, 58, 47); color: rgb(255, 255, 255); }
.signin-facebook i, .signin-google i { width: 35px; display: inline-block; font-size: 20px; margin: 0 5px 0 0; padding: 8px 5px; text-align: center; vertical-align: middle; transition: 400ms ease; }
.signin-facebook i { background-color: rgb(63, 90, 150); }
.signin-facebook:hover i, .signin-facebook:focus i { background-color: rgb(72, 103, 170); }
.signin-google i { background-color: #D63A2F; }
.signin-google:hover i, .signin-google:focus i { background-color: rgb(234, 67, 53); }
.signin-facebook span, .signin-google span { border: medium none; display: inline-block; margin: 0; padding: 0; vertical-align: middle; }

@media(min-width:768px) {
    .other-login { padding: 60px 0 0; }
}