/*  main.css
*   ===========================================================================
*/

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a {
    transition: 400ms ease;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

hr {
    margin: 0 0 30px;
}

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    background: #fff;
}

.body-overflow {
    overflow: hidden;
}

@media(max-width: 767px) {
    .col-xs-fixing {
        margin-right: 15px;
    }
    .col-xs-fixing > div {
        padding-right: 0;
    }
}


/*  Special Offer
*   ===========================================================================*/

.special-offer {
    background-color: #45135b;
}

.special-offer .collapse {
    text-align: center;
    position: relative;
}

.special-offer h2,
.special-offer p {
    color: #fff;
}

.special-offer .btn-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    background-image: url("../images/icons/close-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -99999px;
}


/*  Header
*   ===========================================================================*/

.navbar {
    border-radius: 0;
    margin-bottom: 15px;
    border: none;
    background-color: #F0F0F0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.enterprise-template.navbar {
    margin-bottom: 0;
}

.header-top {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-nav {
    background-color: #464646;
}

.enterprise-template-body .header-nav {
    box-shadow: 0 -14px 30px -14px rgba(0, 0, 0, 0.5);
}

@media(min-width: 768px) {
    .header-top {
        margin-top: 15px;
    }
    .navbar {
        margin-bottom: 30px;
    }
    .enterprise-template .header-top {
        margin-bottom: 0;
    }
}


/*  Fixed Header
*   ===========================================================================*/

.navbar-fixed-top .header-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-fixed-top .search-wrapper {
    margin-bottom: 10px;
}
.navbar-fixed-top .btn-search {
    height: 32px;
}


/*=================================================================================================*/

.header-social {
    background-color: #363636;
    padding: 11px 60px 11px 0;
}

.header-social .social-link {
    float: left;
    margin-left: 0;
}

@media(min-width: 768px) {
    .header-social {
        padding: 8px 0 11px;
    }
    .header-social .social-link {
        float: right;
    }
}

.social-link {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.social-link.enquiry-social-link {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
}

.social-link a {
    display: inline-block;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-link a:last-child {
    margin-right: 0;
}

.enquiry-social-link .fb {
    height: 42px;
    padding: 0 21px;
    background-color: #3B5998;
    vertical-align: bottom;
}

.fb {
    width: 8px;
    height: 18px;
    background-image: url("../images/icons/fb-share.png");
}

.fb:hover,
.fb:focus {
    background-image: url("../images/icons/fb-hover.png");
}

.twitter {
    width: 16px;
    height: 14px;
    background-image: url("../images/icons/twitter.png");
}

.twitter:hover,
.twitter:focus {
    background-image: url("../images/icons/twitter-hover.png");
}

.instagram {
    width: 19px;
    height: 19px;
    background-image: url("../images/icons/instagram.png");
}

.instagram:hover,
.instagram:focus {
    background-image: url("../images/icons/instagram-hover.png");
}

.linked-in {
    width: 22px;
    height: 20px;
    background-image: url("../images/icons/linked-in.png");
}

.linked-in:hover,
.linked-in:focus {
    background-image: url("../images/icons/linked-in-hover.png");
}


/*  Search
/*=================================================================================================*/

.header-top-content {
    width: 100%;
    text-align: center;
}

@media(min-width: 768px) {
    .header-top-content {
        width: auto;
        display: inline-block;
        float: right;
        text-align: right;
    }
}

.header-social {
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.navbar-fixed-top .header-social {
    opacity: 0;
    display: none;
}

.search-wrapper {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
}

.site-header .search-wrapper {
    display: inline-block;
}

.search-option-dropdown {
    display: inline-block;
    border-right: 1px solid #ddd;
}
.search-option-dropdown .dropdown-menu {   
    z-index: 99999;
}
.search-option-dropdown button.dropdown-toggle,
.search-option-dropdown button.dropdown-toggle:focus,
.search-option-dropdown.open > .dropdown-toggle.btn-primary {
    background-color: transparent;
    border: none;
    color: #aaa;
}

.search-option-dropdown button.dropdown-toggle .caret {
    margin-left: 15px;
}

.search {
    display: inline-block;
}

.search input[type="text"] {
    width: 180px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    color: #363636;
    vertical-align: middle;
}

.enterprise-template .search input[type="text"] {
    width: 150px;
}

@media(min-width: 480px) {
    .search input[type="text"] {
        width: 340px;
    }
    .enterprise-template .search input[type="text"] {
        width: 240px;
    }
}

@media(min-width: 768px) {
    .search input[type="text"] {
        width: 400px;
    }
    .search-wrapper {
        margin-bottom: 15px;
    }
    .site-header .search-wrapper {
        display: block;
    }
    .enterprise-template .search input[type="text"] {
        width: 250px;
    }
}

@media(min-width: 992px) {
    .search input[type="text"] {
        width: 450px;
    }
    .enterprise-template .search input[type="text"] {
        width: 300px;
    }
}

@media(min-width: 1200px) {
    .site-header .search-wrapper {
        display: inline-block;
    }
}

.btn-search {
    display: inline-block;
    position: relative;
    height: 42px;
    padding: 0 25px;
    background-color: #543D98;
    border: 1px solid #543D98;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}

.enterprise-template .btn-search {
    height: 32px;
    background-color: #573f9c;
    border: 1px solid #573f9c;
}

.enterprise-template .btn-search:before {
    background-color: #4d388b;
}

@media(max-width: 419px) {
    .enterprise-template .search .btn-search {
        font-size: 0;
        padding: 0 15px;
    }
    .enterprise-template .search .btn-search:after {
        position: absolute;
        height: 32px;
        width: 32px;
        left: 0;
        top: 0;
        background-image: url("../images/icons/search-icon.png");
        background-repeat: no-repeat;
        background-position: center;
        content: "";
    }
}


/*
.btn-search::before {
    position: absolute;
    bottom: -1px;
    right: -1px;
    top: -1px;
    left: -1px;
    background-color: #543d98;
    content: "";
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
*/

.search .btn-search {
    font-size: 0;
    padding: 20px;
}

.search .btn-search:after {
    position: absolute;
    height: 42px;
    width: 42px;
    left: 0;
    top: 0;
    background-image: url("../images/icons/search-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.btn-search:hover,
.btn-search:focus {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
}

.category-dropdown {
    display: inline-block;
}

.category-dropdown button {
    padding: 0 20px;
    background-color: #fff;
    font-size: 16px;
    color: #777;
}

@media(max-width: 486px) {
    .category-dropdown button {
        padding: 0 5px 0 10px;
        background-color: #fff;
        font-size: 16px;
        color: #777;
    }
}

.caret {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid;
}

.category-dropdown button .caret {
    margin-left: 18px;
}

.logo { 
    
    display: none;
    text-align: center;
    
}

.logo h2 {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

@media(min-width: 768px) {
    .logo {
        display: block;
        text-align: right;
    }
    .site-header .logo {
        display: inline-block;
        margin-left: 20px;
    }
}

@media(min-width: 1200px) {
    .logo {
        display: inline-block;
    }
}

.logo img {
    display: inline-block;
}


.logo a {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
}
.logo a:last-child {
    margin: 0;
}


/*========================================================================*/

.main-nav-text {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 15px 0;
    text-transform: uppercase;
}

.navbar-brand {
    width: 150px;
    height: auto;
    padding: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.enterprise-template .navbar-brand {
    width: 70px;
}

@media(max-width: 767px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .navbar-brand img {
        display: inline-block;
        width: 100px;
    }
    .enterprise-template .navbar-brand {
        width: 100%;
    }
    .enterprise-template-body .navbar-brand {
        width: auto;
    }
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    box-shadow: none;
}

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-nav > li.active > a {
    background-color: #575757;
    color: #fff;
}

.navbar-nav > li > a {
    position: relative;
    padding: 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #363636;
    line-height: 40px;
}

.navbar-nav > li.open > a {
    color: #fff;
}

@media(min-width: 768px) {
    .navbar-nav > li > a {
        padding: 0 10px;
        line-height: 60px;
        color: #fff;
    }
}

@media(min-width: 992px) {
    .navbar-nav > li > a {
        padding: 0 20px;
    }
}

#main-navbar-collapse .navbar-nav > li > a:hover,
#main-navbar-collapse .nav > li > a:focus {
    background-color: #575757;
    color: #fff;
}

.navbar-header {
    background-color: #363636;
}

.navbar-toggle {
    right: 15px;
    top: 0px;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-toggle.collapsed {
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-toggle.category-collaps {
    position: absolute;
    right: 18px;
    top: 3px;
    background-color: #543D98;
    border: 1px solid transparent;
    height: 34px;
}

.navbar-toggle.category-collaps.active span.icon-bar {
    /*width: 23px;*/
}

.category-collaps.active span,
.category-collaps span {
    transition: 500ms;
}

.category-collaps span:nth-child(3) {
    display: none;
}

.category-collaps span:nth-child(2) {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transform-origin: 4px -4px 0;
    transform-origin: 4px -4px 0;
}

.category-collaps span:nth-child(4) {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -webkit-transform-origin: 12px -8px 0;
    transform-origin: 12px -8px 0;
}

.category-collaps.active span:nth-child(2) {
    -webkit-transform: rotate(310deg);
    transform: rotate(310deg);
    -webkit-transform-origin: 11px 9px 0;
    transform-origin: 11px 9px 0;
}

.category-collaps.active span:nth-child(4) {
    -webkit-transform: rotate(-310deg);
    transform: rotate(-310deg);
    -webkit-transform-origin: 18px 7px 0;
    transform-origin: 18px 7px 0;
}

.icon-bar {
    background-color: #fff;
}

.navbar-toggle.category-collaps .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d95613;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #494E55;
}

.sub-arrow {
    display: none;
}


/*  Aside
*   ===========================================================================*/

aside {
    margin: 15px 0;
}

@media(min-width: 768px) {
    aside {
        margin: 0;
    }
}

.aside-header {
    padding: 0 20px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #543d98;
    background-image: url("../images/icons/menu-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
}

@media(min-width: 768px) {
    #category-collapse {
        width: calc(100% - 30px);
        position: absolute;
        left: -300%;
        transition: 1ms;
        z-index: 99;
    }
    .aside-header {
        line-height: 60px;
    }
    #category-collapse ul {
        background-color: #fff;
    }
    #category-collapse.active {
        left: 15px;
        transition: 400ms;
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
        transform: rotate3d(0, 1, 0, 360deg);
    }
}


/*=============================================================================*/

.category-list {
    margin: 0;
    padding: 0;
 position: relative;
overflow:hidden;
    border: 1px solid #eae7dc;
}

.category-list-wrap {
    position: absolute;
}

@media(min-width: 768px) {
    .category-list {
        margin: 0 0 30px;
        width: 100%;
    }
    .category-list.nav .open > a,
    .category-list.nav .open > a:hover,
    .category-list.nav .open > a:focus {
        /*background-color: #fff;*/
    }
}

.category-list > li {
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #eae7dc;
}

.category-list > li:last-child {
    border-bottom: none;
}

.category-list > li > a {
    display: block;
    padding: 15px 20px;
    color: #444;
    line-height: 1;
    text-transform: capitalize;
}

.category-list li a .caret {
    float: right;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid;
}

.category-list li .dropdown-menu {
    left: 100% !important;
    top: 0 !important;
}


/*  Dropdown
*   ===========================================================================*/

.dropdown-menu {
    border-radius: 0;
    border: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #fff;
    color: #543D98;
}

#category-collapse.navbar-collapse {
    padding-left: 0;
}

#category-collapse .dropdown-menu {
    max-width: none !important;
}

#category-collapse .dropdown-menu > li > .listings > a {
    width: 100%;
    display: block;
    padding: 5px 20px;
    color: #370E49;
}

#category-collapse .dropdown-menu > li > h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 5px 20px;
}

#category-collapse .dropdown-menu > li > .listings > a:hover {
    color: rgba(245, 205, 31, 1);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

@media(min-width: 768px) {
    #category-collapse .dropdown-menu {
        width: 225% !important;
        background-color: #fff;
    }
    #category-collapse .dropdown-menu > li > h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 15px 20px 15px;
    }
    #category-collapse .dropdown-menu > li > .listings {
        width: 100%;
        margin-bottom: 10px;
    }
    #category-collapse .dropdown-menu > li > .listings > a {
        display: inline-block;
        color: #363636;
        width: 50%;
    }
}


/* Hover Dropdown
 ==================================================================================================*/


/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */

.navbar-nav .dropdown-menu > li > a {
    white-space: normal;
}

.navbar-nav ul.sm-nowrap > li > a {
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
    white-space: nowrap;
    transition: 0s;
}

.navbar-nav ul.sm-nowrap > li:last-child > a {
    border-bottom: none;
}


/* fix .navbar-right subs alignment */


/*.navbar-right ul.dropdown-menu {
    left: 0;
    right: auto;
}*/


/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */


/*.navbar-nav .collapsible ul {
    display: none;
    position: static !important;
    top: auto !important;
    left: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
}

.navbar-nav .collapsible ul.sm-nowrap > li > a {
    white-space: normal;
}

.navbar-nav .collapsible iframe {
    display: none;
}*/


/*=============================================================================*/

.bigyapan {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

@media(min-width: 768px) {
    .bigyapan {
        margin-bottom: 30px;
    }
}

.bigyapan > a::after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    border: 2px solid #ffffff;
    content: " ";
    z-index: 99;
    transition: 400ms ease;
}

.bigyapan > a:hover::after {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
}

.bigyapan > a:hover {}

.bigyapan a img {
    margin: 0 auto;
    transition: 400ms ease;
}

.bigyapan > a:hover > img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 0.6;
}


/*  Carousel
*   ===========================================================================*/

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
    width: 42px;
    height: 100px;
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-indent: -9999px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    background: url("../images/icons/banner-left-arrow.png") no-repeat center center;
    left: -72px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    background: url("../images/icons/banner-right-arrow.png") no-repeat center center;
    right: -72px;
}


/*  Banner-slider
*   ===========================================================================*/

#banner-slider img {
    width: 100%;
    margin-bottom: 15px;
}

.banner-slider-wrapper {
    position: relative;
}

.banner-slider-text {
    width: 90%;
    position: absolute;
    left: 15px;
    bottom: 10px;
    padding: 10px;
    text-align: left;
}

.banner-slider-text p {
    display: none;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
}

.banner-slider-text h2 {
    display: inline-block;
    padding: 15px;
    background-color: rgba(70, 70, 70, 0.5);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

@media(min-width: 640px) {
    .banner-slider-text {
        width: auto;
    }
    .banner-slider-text p {
        display: block;
    }
    .banner-slider-text h2 {
        font-size: 30px;
    }
}

@media(min-width: 768px) {
    .banner-slider-text {
        bottom: 15px;
    }
}

@media(min-width: 992px) {
    .banner-slider-text {
        bottom: 103px;
    }
}

#banner-slider.owl-theme .owl-controls {
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: right;
}

#banner-slider.owl-theme .owl-controls .owl-page span {
    display: block;
    height: 8px;
    width: 15px;
    margin: 5px 7px;
    background: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    transition: 400ms ease;
    opacity: 1;
}

#banner-slider.owl-theme .owl-controls .owl-page.active span,
#banner-slider.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #543D98;
}


/*=============================================================================*/

.content-header {
    display: block;
    margin: 0 0 15px;
    border-bottom: 4px solid #543d98;
    line-height: 20px;
}

.content-header span {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: -4px;
    border-bottom: 4px solid #f5cd1f;
    font-size: 16px;
    font-weight: 700;
    color: #543d98;
    text-transform: uppercase;
    line-height: 20px;
}


/*.content-header span {
    color: #74171a;
}*/

#one-slider,
#two-slider {
    margin-bottom: 15px;
    border: 1px solid #d8b621;
}

#one-slider .image-wrapper,
#two-slider .image-wrapper {
    margin-bottom: 0;
    border: none;
}

.image-wrapper {
    display: block;
    margin-bottom: 15px;
    background-color: #fff;
    transition: 400ms ease;
}

.image-wrapper.company-logo {
    text-align: center;
}

.image-wrapper.company-logo img {
    display: inline-block;
}

@media(min-width: 768px) {
    .image-wrapper {
        margin-bottom: 30px;
        text-align: left;
    }
    .content-header {
        margin: 0 0 30px;
    }
    #one-slider,
    #two-slider {
        margin-bottom: 30px;
    }
}

.image-wrapper img {
    transition: 400ms ease;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .image-wrapper img {
        margin: 0 auto;
    }
}

.image-wrapper:hover,
.image-wrapper:focus {
    /*border: 1px solid #f5cd1f;*/
}

.image-wrapper:hover > img,
.image-wrapper:focus > img {
    -webkit-transform: scale(.95);
    transform: scale(.95);
}

.image-wrapper.featured {
    border: 1px solid #d8b621;
}

.image-wrapper span {
    display: inline-block;
    margin: 10px 0 0;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    transition: 400ms ease;
}

.image-wrapper:hover > span,
.image-wrapper:focus > span {
    color: #543D98;
}


/*==========================================================================*/

.ribbons {
    position: absolute;
    right: -3px;
    top: 20px;
    z-index: 1;
}

@media(min-width: 768px) {
    .ribbons {
        right: 12px;
    }
}

.ribbons .ribbon {
    display: block;
    position: relative;
    margin: 0 0 10px;
    overflow: visible;
    /**/
    background-color: #e65951;
    color: #fff;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px 0 15px;
    text-align: center;
    text-transform: uppercase;
}

.ribbons .ribbon.discount {
    background-color: #F08A47;
}

.ribbons .ribbon::before {
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    border: 13px solid #e65951;
    border-left-color: transparent;
    border-left-width: 12px;
    content: "";
}

.ribbons .ribbon::after {
    border-color: transparent transparent transparent #c04943;
    border-style: solid;
    border-width: 3px 0 0 3px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
}

.ribbons .ribbon.discount::before {
    border: 13px solid #F08A47;
    border-left-color: transparent;
    border-left-width: 12px;
}

.ribbons .ribbon.discount::after {
    border-color: transparent transparent transparent #F08A47;
}

.ribbons .ribbon span {
    height: 26px;
    display: block;
    position: relative;
    padding: 0 10px;
    margin: 0;
    background-color: #e65951;
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.ribbons .ribbon.discount span {
    background-color: #F08A47;
}


/*=============================================================================*/

.best-selling-section {
    position: relative;
    padding: 15px 0 0;
    /*background-color: #fdd835;*/
    /*background-image: url("../images/symphony.png");*/
    background-attachment: fixed;
}

.best-selling-section .bigyapan,
.bigyapan-margin .bigyapan {
    margin-top: 68px;
}

@media(min-width: 768px) {
    .best-selling-section {
        padding: 30px 0;
    }
}

.best-selling-section .image-wrapper {
    /*border: 1px solid #d8b621;*/
}

.best-selling-section .image-wrapper:hover,
.best-selling-section .image-wrapper:focus {
    /*border: 1px solid #dd2c00;*/
}

.best-selling-section .image-wrapper:hover > span,
.best-selling-section .image-wrapper:focus > span {
    /*color: #dd2c00;*/
}


/*=============================================================================*/

.services-section {
    padding: 60px 0 45px;
    background-color: #363636;
    overflow: hidden;
}

.services-wrapper {
    text-align: center;
    position: relative;
}

.services-wrapper h2 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fdd835;
}

.services-wrapper p {
    width: 80%;
    margin: 0 auto 15px;
    color: #fff;
}


/*  Footer 
*   ===========================================================================*/

footer {
    padding-top: 0;
    background-color: #2b2b2b;
}

footer hr {
    margin: 15px 0;
}

@media(min-width: 768px) {
    footer {
        padding-top: 30px;
    }
    footer hr {
        margin: 20px 0;
    }
}

.footer-header {
    display: block;
    padding-bottom: 10px;
    padding-top: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer-links {
    margin: 0;
    padding: 0;
}

.footer-links a {
    display: block;
    padding: 3px 0;
    color: #fff;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #fdd835;
}

.copyright {
    display: block;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 12px;
}

footer .social-link {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0;
}

@media (min-width: 768px) {
    .copyright {
        text-align: left;
    }
    footer .social-link {
        text-align: right;
    }
}

.copyright a {
    color: #fff;
}

.copyright a:hover,
.copyright a:focus {
    color: #e9621c;
}

.footer-text {
    color: #fff;
    line-height: 22px;
}

.footer-logo {
    margin: 30px 0;
}


/*  To Top
*   ===========================================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #543D98 url("../images/icons/cd-top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #543D98;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        right: 30px;
        bottom: 30px;
    }
}


/*  Bread Crumb
*   ===========================================================================*/

.breadcrumb {
    display: none;
    margin: 0 0 15px;
    padding: 0;
    background-color: transparent;
}

@media(min-width: 768px) {
    .breadcrumb {
        display: block;
        margin: 0 0 30px;
    }
}

.breadcrumb li a {
    color: #000;
}

.breadcrumb li.active a {
    color: #777777;
}

.breadcrumb > li + li:before {
    padding: 0 15px;
    content: url("../images/icons/right-arrow.png");
}


/*===========================================================================*/


/*===============================Detail Page================================*/


/*===========================================================================*/

#detail-slider {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#detail-slider img {
    width: 100%;
}

.product-detail {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.product-detail.show {
    min-height: 380px;
}

@media( min-width: 768px) {
    .product-detail {
        margin-bottom: 30px;
    }
    #detail-slider {
        margin-bottom: 30px;
    }
}

.star-rating {
    display: block;
    margin-bottom: 10px;
}

#saved-star {
    display: inline-block;
    margin-bottom: 15px;
}

#saved-star .votes {
    float: right;
    margin-left: 10px;
}

.product-detail h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #370e49;
    font-weight: 700;
}

.product-detail h2 a {
    display: block;
    font-size: 14px;
}

.product-detail p {
    color: #6d6d6d;
    line-height: 22px;
    margin-bottom: 25px;
}

.price {
    border-bottom: 1px solid #bbb;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    padding-bottom: 15px;
}

@media( min-width: 768px) {
    .price {
        margin: 0 0 15px;
    }
}

.availability {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.availability span {
    color: #66bb6a;
}

.btn-buy,
.read-more,
.read-more-inside {
    background-color: #ffa000;
}

.btn-review {
    background-color: #370E49;
}

.btn-buy,
.btn-review,
.read-more,
.read-more-inside {
    display: inline-block;
    margin-right: 5px;
    padding: 0 37px;
    color: #fff;
    line-height: 42px;
    vertical-align: middle;
    vertical-align: middle;
}

.btn-buy:hover,
.btn-review:hover,
.read-more:hover,
.read-more-inside:hover,
.btn-buy:focus,
.btn-review:focus,
.read-more:focus,
.read-more-inside:focus {
    color: #fff;
}

.btn-review {
    margin-top: 10px;
    margin-bottom: 10px;
}

.may-like {
    margin: 15px 0;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

@media(min-width: 480px) {
    .btn-review {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media(min-width: 768px) {
    .may-like {
        margin: 25px 0;
    }
}


/*  Detail Slider
*   =========================================================================== */

#sync1 {
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 9;
}

#sync2 {
    margin-bottom: 80px;
}

#sync2 .owl-item {
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
}

#sync2 .synced {
    opacity: .5;
}

@media(min-width: 992px) {
    #sync2 {
        margin-bottom: 80px;
    }
}

#sync1.owl-theme .owl-controls {
    width: 100%;
    margin-top: 0;
    position: absolute;
    bottom: -105px;
    left: 0;
}

@media(min-width: 400px) {
    #sync1.owl-theme .owl-controls {
        bottom: -125px;
    }
}

@media(min-width: 479px) {
    #sync1.owl-theme .owl-controls {
        bottom: -150px;
    }
}

@media(min-width: 768px) {
    #sync1.owl-theme .owl-controls {
        bottom: -105px;
    }
}

@media(min-width: 992px) {
    #sync1.owl-theme .owl-controls {
        bottom: -90px;
    }
}

@media(min-width: 1200px) {
    #sync1.owl-theme .owl-controls {
        bottom: -100px;
    }
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next {
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3e3e3e;
    text-indent: -9999px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 400ms ease;
    opacity: 1;
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -1px;
    background-image: url("../images/icons/banner-left-arrow.png");
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-next {
    left: 40px;
    background-image: url("../images/icons/banner-right-arrow.png");
}

#sync1.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#sync1.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background-color: #543D98;
}


/*  Off Canvas
*   =========================================================================== */

.off-canvas,
.off-canvas-review {
    width: 100%;
    min-height: 200px;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 30px 0;
    border-top: 2px solid #ccc;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    /**/
    background-color: #fff;
    z-index: 1;
}

.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.buy-form {
    margin-right: 1px;
}

.buy-form label {
    margin: 5px 0 15px;
    color: #dd2c00;
    font-weight: 400;
}

@media(min-width: 330px) {
    .buy-form label {
        font-weight: 700;
    }
}

.buy-form input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.buy-form textarea {
    width: 100%;
    height: 95px;
    padding: 4px 12px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.buy-btn-group {
    width: 100%;
    float: left;
    padding: 10px 15px 0;
    text-align: right;
}

.btn-send,
.btn-send-review {
    display: inline-block;
    padding: 0 37px;
    background-color: #ffa000;
    color: #fff;
    border: none;
    line-height: 42px;
    vertical-align: middle;
}

.btn-back,
.btn-back-review {
    padding-left: 15px;
    margin-right: 15px;
    background-image: url("../images/icons/back-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #000;
    font-size: 16px;
    vertical-align: middle;
}


/*  Review
*   =========================================================================== */

.review-detail {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.review-detail:last-child {
    border-bottom: none;
}

.review-detail p {
    margin-bottom: 10px;
}

.review-detail span {
    display: block;
    margin-bottom: 15px;
    font-style: italic;
    color: #DD2C00;
}


/*  Tab
*   =========================================================================== */

#tab.nav-tabs {
    border: none;
    background-color: #f0f0f0;
}

#tab.nav-tabs > li {
    margin-bottom: 0;
    border: none;
}

#tab.nav-tabs > li > a {
    padding: 0 48px;
    margin-right: 0;
    border: none;
    border-radius: 0;
    color: #000;
    font-size: 18px;
    line-height: 50px;
}

#tab.nav-tabs > li.active > a {
    background-color: #543D98;
    color: #fff;
    border-right: 1px solid #f0f0f0;
}

#tab.nav > li > a:hover,
#tab.nav > li > a:focus {
    background-color: #543D98;
    color: #fff;
}

#myTabContent {
    padding: 20px 20px 0;
    border: 1px solid #f0f0f0;
}

#tab-accordion h2,
#myTabContent h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 15px;
}

@media (min-width: 768px) {
    .tab-content-header.no-margin-top {
        margin-top: 0;
    }
}

.tab-content-header {
    font-size: 16px;
    font-weight: 700;
    color: #183883;
    margin: 27px 0;
}

#tab-accordion p,
#myTabContent p {
    margin-bottom: 20px;
    color: #6d6d6d;
    line-height: 22px;
}


/*  Accordion
*   =========================================================================== */

#tab-accordion {
    margin-top: 15px;
    margin-bottom: 0;
}

#tab-accordion.panel-group .panel-heading + .panel-collapse > .panel-body,
#tab-accordion.panel-group .panel-heading + .panel-collapse > .list-group {}

#tab-accordion .panel-default > .panel-heading {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px;
}

#tab-accordion .panel-default > .panel-heading > .panel-title > a {
    color: #f5cd1f;
}

#tab-accordion .panel-default > .panel-heading > .panel-title > a.collapsed {
    color: #000;
}

#tab-accordion.panel-group .panel {
    border-style: none none solid none;
    border-radius: 0;
}

#tab-accordion .panel-title {
    font-size: 14px;
    font-weight: 700;
}

#tab-accordion .panel-title a {
    display: block;
    background: url("../images/icons/right-arrow.png")no-repeat right center;
}

#tab-accordion .panel-title a.collapsed {
    background: url("../images/icons/accordion-arrow.png")no-repeat right center;
}

#tab-accordion .panel-body {
    padding: 15px 15px 0;
}


/*===========================================================================*/


/*================================About Page=================================*/


/*===========================================================================*/

.inner-content p {
    display: inline-block;
    margin-bottom: 15px;
    color: #303030;
    line-height: 22px;
}

.inner-content p a {
    color: #1976d2;
}

.inner-content ul {
    margin: 0 0 15px 20px;
    padding: 0;
}

.inner-content ul li {
    list-style-image: url("../images/icons/list.png");
    color: #303030;
}

@media(min-width: 768px) {
    .inner-content p {
        margin-bottom: 25px;
    }
    .inner-content ul {
        margin: 0 0 25px 20px;
    }
}


/*===========================================================================*/


/*================================Contact Page===============================*/


/*===========================================================================*/

#map-canvas {
    width: 100%;
    height: 382px;
    margin-bottom: 15px;
}

.contact-form input[type="text"] {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    color: #6e6e6e;
    background-color: #fafafa;
    border: 1px solid #c2c2c2;
    border-radius: 0;
    line-height: 41px;
}

.contact-form input[type="text"].error,
.contact-form textarea.error,
.buy-form input[type="text"].error,
.buy-form textarea.error {
    border: 1px solid #da251c;
}

.contact-form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #6e6e6e;
}

.contact-form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #6e6e6e;
    opacity: 1;
}

.contact-form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #6e6e6e;
    opacity: 1;
}

.contact-form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #6e6e6e;
}

.contact-form input.error::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #da251c;
}

.contact-form input.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #da251c;
    opacity: 1;
}

.contact-form input.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #da251c;
    opacity: 1;
}

.contact-form input.error:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #da251c;
}

.contact-form textarea {
    width: 100%;
    height: 145px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    color: #6e6e6e;
    border-radius: 0;
}

.contact-btn-send {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #183883;
    color: #fff;
    border: none;
    line-height: 42px;
    margin-bottom: 15px;
}

.contact-logo {
    margin-bottom: 30px;
}

.contact-detail {
    padding-bottom: 15px;
}

.contact-detail span {
    display: block;
    padding-left: 25px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-position: 2px center;
}

.contact-detail span:last-child {
    margin-bottom: 0;
}

.phone {
    background-image: url("../images/icons/phone.png");
}

.mobile {
    background-image: url("../images/icons/mobile.png");
}

.mail {
    background-image: url("../images/icons/mail.png");
}

@media(min-width: 768px) {
    #map-canvas {
        margin-bottom: 30px;
    }
    .contact-detail-section {
        padding: 30px 0;
    }
    .contact-form input[type="text"] {
        margin-bottom: 20px;
    }
    .contact-form textarea {
        margin-bottom: 20px;
    }
}

label.error {
    background-color: #cc1d1d;
    color: #fff !important;
    font-size: 11px;
    font-weight: normal;
    padding: 0 3px;
    position: absolute;
    right: 15px;
}

.contact-form label.error {
    top: 1px;
}

.buy-form label.error {
    top: -4px;
}

.message-holder,
.processing,
.message-holder-review-success,
.message-holder-review-error,
.processing-review {
    padding-left: 14px;
    padding-right: 14px;
}


/* ============================================================================ */


/* ====================================Loader================================== */


/* ============================================================================ */

.loader-wrap {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: 99999;
}

.loader {
    width: 48px;
    height: 47px;
    position: relative;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
}

.image-wrapper .individual-star {
    padding-top: 10px;
    cursor: default;
}

.collapse.in {
    background-color: #e0e0e0;
}


/* ============================================================================ 
===============================Enterprise Template============================= 
=============================================================================== */

.enterprise-template-body {
    position: relative;
    z-index: 9999;
}

.enterprise-template-body .container,
.enterprise-template-body .header-top {
    position: relative;
    z-index: 9999;
}

.enterprise-template-body .navbar {
    padding-top: 10px;
    background-image: url("../images/pattern/footer_lodyas.png");
    background-repeat: repeat;
}

.enterprise-template-body .header-top .container {
    text-align: center;
}

.enterprise-template-body .header-top .navbar-brand {
    float: none;
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 30px 1px #000;
}

.enterprise-template-body .navbar-fixed-top .header-top .navbar-brand {
    width: 0;
    padding: 0;
    transition: width 0;
}

.enterprise-template-body .header-top .navbar-brand.navbar-name {
    width: auto;
    float: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 3;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.enterprise-template-body .navbar-fixed-top .header-top .navbar-brand.navbar-name {
    font-size: 0;
    opacity: 0;
    transition: opacity 0ms;
}

.enterprise-template-body .navbar-fixed-top {
    padding: 0;
    transition: 400ms ease;
}

.enterprise-template-body #main-navbar-collapse .navbar-nav > li.active > a,
.enterprise-template-body #main-navbar-collapse .navbar-nav > li.active > a:hover {
    color: #fff
}

@media(min-width: 768px) {
    .enterprise-template-body #main-navbar-collapse .navbar-nav > li > a,
    .enterprise-template-body #main-navbar-collapse .navbar-nav > li > a:hover,
    .enterprise-template-body #main-navbar-collapse .nav > li > a:focus {
        color: #fff
    }
    .enterprise-template-body .header-top {
        margin: 10px 0 15px;
    }
}


/*==========================================================================*/

#top-view-slider .item {
    margin: 0 15px;
}

#top-view-slider.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: -35px;
    right: 87px;
}

@media(min-width: 768px) {
    #top-view-slider.owl-theme .owl-controls .owl-buttons {
        top: -50px;
    }
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-prev,
#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #543d98;
    text-indent: -9999px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 400ms ease;
    opacity: 1;
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -1px;
    background-image: url("../images/icons/banner-left-arrow.png");
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    left: 40px;
    background-image: url("../images/icons/banner-right-arrow.png");
}

#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
#top-view-slider.owl-theme .owl-controls .owl-buttons .owl-next:hover {
    background-color: #363636;
}

.inner-products-list {
    padding-bottom: 30px;
}

.inner-products-list .media {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #bbbbbb;
}

.inner-products-list .media:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.inner-products-list .media .media-left .media-object {
    width: 64px;
    border: 1px solid #bbbbbb;
}

.inner-products-list .media .media-heading {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.inner-products-list .media .media-body {
    color: #6d6d6d;
}


/*==================================================================*/

.btn-buy,
.btn-review,
.read-more,
.read-more-inside,
.hav-look-link {
    display: inline-block;
    margin-right: 5px;
    padding: 0 37px;
    color: #fff;
    line-height: 42px;
    background-color: #543D98;
    vertical-align: middle;
    vertical-align: middle;
}

.btn-buy:hover,
.btn-review:hover,
.read-more:hover,
.read-more-inside:hover,
.btn-buy:active,
.btn-review:active,
.read-more:active,
.read-more-inside:active,
.hav-look-link:hover,
.hav-look-link:focus,
.hav-look-link:active {
    background-color: #363636;
    color: #fff;
}
#star{
    padding-top: 5px;
}
