.register-user-wrap, .myaccount-wrapper { padding: 40px 0; text-align: center; }
.register-user, .my-account { min-height: 380px; background: #fdfdfd; background: -moz-linear-gradient(left, #fdfdfd 0%, #ffffff 100%); background: -webkit-linear-gradient(left, #fdfdfd 0%, #ffffff 100%); background: linear-gradient(to right, #fdfdfd 0%, #ffffff 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ffffff', GradientType=1);
    padding: 0 0 20px; margin: 0 0 20px; box-shadow: 7px 0 13px -13px rgba(0, 0, 0, 0.3); }
.register-user-wrap form, .myaccount-wrapper form { width: 290px; margin: 0 auto; }
.register-user-wrap h2, .myaccount-wrapper h2 { font-size: 24px; margin: 0 0 30px; text-align: center; }
.register-user-wrap .form-group, .myaccount-wrapper .form-group { border-bottom: 1px solid rgb(233, 233, 233); padding: 5px 10px; position: relative; }
span.error { width: 100%; color: rgb(84, 61, 152); position: absolute; top: -10px; left: 25px; text-align: left; }
.education span.error { width: 100%; color: rgb(84, 61, 152); position: relative; top: -10px; left: 25px; text-align: left; }
.register-user-wrap input.form-control, .myaccount-wrapper input.form-control { width: 230px; background-color: rgba(0, 0, 0, 0); padding: 5px; display: inline-block; border: none; box-shadow: none; }
.register-user-wrap .form-group label, .myaccount-wrapper .form-group label { width: 28px; height: 28px; background-color: rgb(39, 39, 39); font-size: 14px; padding: 4px 0; display: inline-block; border-radius: 50%; text-align: center; transition: 400ms ease; color: #fff; }
.register-user-wrap input.form-control:focus + label, .myaccount-wrapper input.form-control:focus + label {background-color: rgb(84, 61, 152);}
.register-user-wrap input[type="submit"], .myaccount-wrapper input[type="submit"] { background-color: rgb(84, 61, 152);
    border: 1px solid rgb(84, 61, 152); color: rgb(255, 255, 255); padding: 5px 15px; margin: 30px 0 0; transition: 400ms ease; }
.register-user-wrap input[type="submit"]:hover, .register-user-wrap input[type="submit"]:focus, .myaccount-wrapper input[type="submit"]:hover, .myaccount-wrapper input[type="submit"]:focus { background-color: transparent; color: rgb(84, 61, 152);}
.captcha-wrap span { background-color: rgb(85, 85, 85); color: rgb(255, 255, 255); font-size: 14px; padding: 5px 15px; }
.captcha-wrap input { border: 1px solid rgb(119, 119, 119); color: rgb(119, 119, 119); margin: 0 0 0 15px; padding: 5px 10px; text-align: center; width: 50px; }
.my-account a { color: rgb(119, 119, 119); display: block; font-size: 14px; padding: 5px 25px; text-align: left; }
.my-account a i { display: inline-block; font-size: 16px; margin: 0 15px 0 0; vertical-align: middle; }
.my-account a:hover, .my-account a:focus { color: rgb(84, 61, 152); }
.user-download-section { margin: 0; text-align: left; }
ul.user-download-section li { padding: 0; }
.user-download-section li:before { display: none; }
.user-download-section li a { color: rgb(119, 119, 119); font-size: 14px; padding: 8px 20px; border: 1px solid rgb(221, 221, 221); border-bottom: none; display: block; position: relative; }
.user-download-section li a:hover, .user-download-section li a:focus { color: rgb(84, 61, 152); }
.user-download-section li a i { display: inline-block; margin: 0 15px 0 0; vertical-align: middle; }
.user-download-section a span { width: 80%; display: inline-block; vertical-align: middle; }
.inner-content ul li::before { background-color: rgb(84, 61, 152); }
.btn-resend-activation {
    color: #777777;
    display: block;
    margin: 30px 0 0;
    text-align: left;
}
.btn-resend-activation i {
    margin: 0 10px 0 0;
}
.btn-resend-activation:hover, .btn-resend-activation:focus {
    color: rgb(84, 61, 152);
}

@media(min-width:768px) {
    .register-user-wrap form, .myaccount-wrapper form { width: 380px; }
    .register-user-wrap input.form-control, .myaccount-wrapper input.form-control { width: 290px; }
    .user-download-section a span { width: 90%; }
}

@media(min-width:1024px) {
    .register-user-wrap input.form-control, .myaccount-wrapper input.form-control { width: 310px; }
    .user-download-section a span { width: auto; }
}