

.submit-fields {
  padding-right: 15px;
  text-align: right;
}
.submit-fields > p {
	display: inline-block;
	text-align: left;
}
.submit-fields a {
	background: #003156 none repeat scroll 0 0;
	border: 1px solid #003156;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 10px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	vertical-align: top;
}
.submit-fields a:hover {
	background: transparent;
	color: #003156;
}
.submit-fields input {
	background: #df5000 none repeat scroll 0 0;
	border: 1px solid #df5000;
	color: #fff;
	display: inline-block;
	font-family: raleway;
	font-size: 13px;
	font-weight: 600;
	padding: 8px 10px 7px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	vertical-align: top;
}
.submit-fields input:hover {
	background: transparent;
	color: #df5000;
}
/*checkout option*/	
.checkout-wrap {
	background-color: #f8f8f8;
	margin-bottom: 40px;
	overflow: hidden;
	padding: 40px;
	width: 100%;
}
.registered-customer {
	float: left;
	width: 45%;
	border-right: 1px solid #bebebe;
	box-sizing: border-box;
}
.guest-checkout {
	box-sizing: border-box;
	float: left;
	margin-left: 50px;
	width: 50%;
}
.checkout-header {
	color: #003156;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	text-transform: uppercase;
}
.checkout-wrap h3 {
	color: #003156;
	font-size: 15px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.registered-customer input {
	border:1px solid #bebebe;
	height: 30px;
	margin-bottom: 20px;
	padding: 3px 5px;
	width: 60%;
}
.registered-customer input:hover, .registered-customer input:focus {
	border: 1px solid #df5000;
}
.registered-customer span > a {
	color: #df1500;
	display: block;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.guest-checkout > p {
	margin-bottom: 20px;
}
.checkout-section > h3 {
	color: #515357;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.checkout-section span {
	color: #df5000;
	font-size: 16px;
	margin-right: 5px;
}
.checkout-wrap-new {
	overflow: hidden;
	width: 100%;
	margin-bottom: 40px;
}
.checkout-section {
	border: 1px solid #bebebe;
	box-sizing: border-box;
	float: left;
	margin-right: 20px;
	padding: 20px;
	width: 32%;
}
.checkout-section:last-child {
	margin-right: 0;
}
.checkout-section > input, .checkout-section > select, .shipping-address input, .shipping-address > select, .credit-cards-method input, .online-banking-method input, .process-easy input, .state2, .city_block2 select, .state_block3 select, .city_block3 select {
	border:1px solid #bebebe;
	box-sizing: border-box;
	height: 40px;
	margin-bottom: 25px;
	padding: 3px 5px;
	width: 100%;
}
.checkout-section > input:hover, .checkout-section > input:focus, .checkout-section > select:hover, .shipping-address input:hover, .shipping-address > select:hover, .credit-cards-method input:hover, .credit-cards-method input:focus, .checkout-section textarea:hover, .checkout-section textarea:focus, .online-banking-method input:hover, .online-banking-method input:focus, .process-easy input:hover, .process-easy input:focus, .state2:focus, .state2:hover, .city_block2 select:hover, .city_block2 select:focus, .state_block3 select:hover, .state_block3 select:focus, .city_block3 select:hover, .city_block3 select:focus {
	border: 1px solid #df5000;
}
.checkout-section textarea {
	width: 100%;
	font-family: raleway;
	padding: 5px;
	font-size: 12px;
	margin-bottom: 20px;
	box-sizing:border-box;
}
.checkout-section a {
	color: #222;
}
.place-order.total > button {
	background-color: #003156;
	border: 1px solid #003156;
	color: #fff;
	font-family: raleway;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
	transition: all 0.5s;
	text-transform: uppercase;
}
.place-order.total > button:hover {
	background-color: transparent;
	color: #003156;
	cursor: pointer;
}
.shipping-address > h3 {
	margin-bottom: 10px;
}
.checkout-section label {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.checkout-section label > span {
	color: #515357;
	display: inline-block;
	font-size: 12px;
	margin-left: 5px;
	vertical-align: top;
}
label .amount {
	color: #515357;
	font-size: 12px;
	float: right;
	text-align: right;
}
.safe-secure p {
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #515357;
}
.safe-secure {
	margin-top: 20px;
}
.safe-secure span {
	color: inherit;
	font-weight: 600;
}
.review-image {
	display: inline-block;
	border: 1px solid #bebebe;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
	width: 80px;
}
.review-product-wrap {
	display: inline-block;
	font-family: lato;
	font-size: 13px;
	width: calc(100% - 110px);
}
.review-amount {
	float: right;
}
.review-amount, .review-name {
	color: #515357 !important;
}
.checkout-section > table, .checkout-section > table th, .checkout-section > table td {
	color: #515357;
	border: medium none !important;
	font-family: lato;
}
.checkout-section > table td {
	text-align: right;
}
.checkout-section th {
	width: 70%;
}
.grand-total {
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}
.sub-total {
	border-top: 1px solid #bebebe;
}
.review-order-wrap {
	margin-bottom: 15px;
}
.place-order.total {
	float: right;
	margin-top: 30px;
	width: 100%;
}
/*user order detail*/
.user-order-detail-table {
	margin: 50px 0px;
	overflow:auto;
}
.user-order-detail .empty-border {
	background: transparent none repeat scroll 0 0;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}
.user-order-detail table, .user-order-detail th, .user-order-detail td {
	border: 1px solid #003156;
	border-collapse: collapse;
	padding: 5px;
	text-transform: uppercase;
	font-family:lato;
}
.user-order-detail td.table-image {
	width: 150px;
	padding: 3px;
}
.user-order-detail td.table-title {
	background: #eeeeee;
	font-weight: 600;
}
.user-order-detail td.border-none {
	border: 1px solid transparent;
}
table.color-display, table.color-display th, table.color-display td {
	border: 0px solid #003156;
	border-collapse: collapse;
}
.user-order-detail-total {
	width: 100%;
	margin: 25px 0;
}
.user-order-detail-total td {
	text-align: left;
	padding: 5px;
}
.user-order-detail td:last-child {
	text-align: center;
}
.user-order-detail-total > table {
	float: right;
}
.billing-shipping-address .tabs ul li {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #003156;
	text-transform: uppercase;
	opacity: 0.3;
	transition: all .5s ease;
}
.billing-shipping-address .tabs ul li.selected:after {
	content: "\f0d8";
	font-family: fontawesome;
	position: absolute;
	left: 0;
	right: 0;
	top: 32px;
	text-align: center;
	color: #df5000;
	font-size: 24px;
}
.billing-shipping-address .tabs ul li a {
	color: #222;
}
.billing-shipping-address .tabs ul li.selected {
	opacity: 1;
	border: 1px solid #df5000;
}
.billing-shipping-address .tabs ul li.selected a {
	color: #df5000;
}
.billing-shipping-address .detail {
	border: 1px solid #df5000;
	padding: 15px 10px;
	margin: 15px 0;
}
.detail h3 {
	color: #df5000;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.detail ul {
	display: inline-block;
	width: 370px;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 20px;
}
.detail ul.right {
	margin-right: 0;
}
.billing-shipping-address .detail ul li {
	border: 1px solid #003156;
	padding: 0 10px;
	width: 90%;
	text-transform: uppercase;
	font-size: 13px;
	margin: 15px 0px;
}
.detail ul li.email {
	text-transform: none;
}
.detail ul li.email span {
	text-transform: uppercase;
}
.detail ul li.telephone {
	font-family: lato;
}
.detail ul li.telephone span {
	font-family: raleway;
}
.billing-shipping-address .detail ul li span {
	border-right: 1px solid #003156;
	padding: 5px 10px;
	margin-right: 15px;
	width: 100px;
	display: inline-block;
}
.billing-shipping-address .detail ul li span.address {
	border-right: none;
	margin-right: 0;
}
.billing-shipping-address .detail ul li span.address-name {
	border-right: medium none;
	margin-right: 0;
	border-left: 1px solid #003156;
	width: calc(90% - 123px);
	vertical-align: middle;
}
.user-order-detail .re-order-btn {
	border: 1px solid #df5000;
	background: #df5000;
	padding: 5px 15px;
	transition: all .5s ease;
	width: 120px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	cursor: pointer;
}
.user-order-detail .re-order-btn a {
	color: #fff;
}
.user-order-detail .re-order-btn:hover {
	background: transparent;
}
.user-order-detail .re-order-btn:hover a {
	color: #df5000;
}
.billing-shipping, .shipping, .payment {
	display: none;
}
.selected {
	display: block;
}
/* pagination*/
.pagination li {
	display: inline-block;
	font-family: lato;
	padding: 0 2px;
}
.pagination li a {
	border: 1px solid #ccc;
	color: #ccc;
	display: block;
	height: 20px;
	min-width: 20px;
	padding: 3px;
	text-align: center;
}
.pagination li.active > a {
	color: #fff;
	background-color: #df5300;
	border-color: #df5300;
}
.pagination li:hover a {
	color: #fff;
	background-color: #003156;
	border-color: #003156;
}
.pagination .big-btn > a {
	border: medium none !important;
}
/* Blog css*/
.blog-section.-wrap {
	border-bottom: 1px solid #bebebe;
	margin-bottom: 20px;
	padding-bottom: 30px;
}
.blog-section.-wrap > h3 {
	margin-bottom: 20px;
	color: #003156;
	font-size: 18px;
}
.date-info-wrap {
	width: 100%;
	overflow: auto;
	margin: 20px 0;
}
.date-info {
	float: left;
	font-family: lato;
	color: #515357;
}
.date-info span .fa {
	margin-right: 3px;
}
.social-wrap {
	float: right;
}
.date-info span {
	font-size: 13px;
	margin-right: 15px;
}
.date-info span:hover {
	cursor: pointer;
	color: #003156;
}
.social-wrap span a {
	color: #fff;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	transition: all 0.5s;
}
.fb a {
	background-color: #3A5795;
}
.twitter a {
	background-color: #1DA1F2;
}
/* search-result page*/
label#search_data-error {
    position: absolute;
    left: 0;
    bottom: -20px;
}
.cerr {
  color: #ff0000;
  display: block;
}
.search-result-wrapper ul li {
  margin-right: 20px;
  width: 23%;
}
.search-result-wrapper ul li:last-child{
	margin-right:0;
	}
	.search-result-wrapper .item-wrapper ul li:nth-child(3n+3) {
  margin-right: 20px;
}
	.search-result-wrapper .item-wrapper ul li:nth-child(4n+4) {
  margin-right: 0px;
}
.search-result {
  color: #395f7c;
  font-size: 25px;
  margin: 10px 0;
}
.detail-page-wrapper .owl-wrapper-outer .item img {
  height: 80px;
  margin: auto;
  width: auto;
}
.loading {
  background: rgba(255, 255, 255, 0.5) url("../images/ajax-loader.gif") no-repeat scroll 50% 50%;
  position:relative;
  z-index:99999999;
}
/* error-mess*/
.alert-mess-wrap {
	display:none;
  position: fixed;
  right: 10px;
  top: 40px;
  z-index:999999;
}

.alert-mess {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #fff;
  padding: 20px;
  position: relative;
  width: 220px;
}
.err-title {
  display: block;
  font-weight: 600;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.bold {
  font-weight: 600;
}
.alert-mess-section {
  margin-bottom: 5px;
}
.alert-mess .fa-close{
	cursor:pointer;
	position:absolute;
	top:0;
	transition:all 0.5s;
	right:0;
	padding:5px;
	}
.alert-mess .fa-close:hover{
	color:#b20b0b;
}
.alert-mess-section {
  left: 110%;
  margin-bottom: 5px;
  position: relative;
}