body { 
  color: #000; 
  font-family: 'Arial';
  padding: 0px !important;
  margin: 0px !important;
  font-size:13px; 
}

/* fix for font awesome icon classes */
[class^="icon-"], [class*=" icon-"],[class^="icon-"]:hover, [class*=" icon-"]:hover { 
  background: none !important;
}

/* hide by default, used to handle elements to show only for ie8*/
.visible-ie8 {
  display: none;
}

/* general typography*/
h3 small, h small, h5 small {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #016fa7;
}

.page-title {
  font-size: 22px;
  display: block;
  font-weight: normal !important;
  margin: 13px 0px 8px 0px;
}

.page-title small {
  font-size: 14px;
}

/* general tools */
img.center {
  text-align:center;
}

.phone-margin-top-5:before {
  display: block;
  margin-top: 5px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.no-bottom-space {
  padding-bottom:0px !important;
  margin-bottom: 0px !important;
}

.no-top-space {
  padding-top:0px !important;
  margin-top: 0px !important;
}

.block-margin-bottom-5 {
  display: inline-block;
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.bold {
  font-weight:bold;
}

.fix-margin {
  margin-left: 0px !important
}

.border {
  border: 1px solid #ddd
}

.small {
  font-size: 11px !important;
  color: #000;
  font-weight: bold; 
}

.btn-top-space {  
  margin-top: 5px !important;
}

.italic {
  font-style: italic !important;
}

i.big {
  font-size: 20px;
}

i.warning {
  color: #d12610;
}

i.critical {
  color: #37b7f3;
}

i.normal {
  color: #52e136;
}

hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

i.icon, a.icon {
  color: #999;
}

a.icon:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .4;
}

a.icon.huge i{
  font-size: 16px !important;
}

.space5 {
  display: block;
  height: 5px !important;
  clear: both;
}

.space7 {
  height: 7px !important;
  clear: both;
}

.space10 {
  height: 10px !important;
  clear: both;
}

.space12 {
  height: 12px !important;
  clear: both;
}

.space15 {
  height: 15px !important;
  clear: both;
}

.space20 {
  height: 20px !important;
  clear: both;
}

.no-text-shadow {
  text-shadow: none !important;
}

/*fix outlines on click*/
a,a:focus, a:hover, a:active {
  outline: 0;
}

/*logo*/
#header .brand {
  margin-top: -1px !important;
  width: 102px;
}

/* header nav bar*/
#header.navbar {
  margin-bottom: 3px !important;
  min-width: 0px;
}
#header .navbar-inner .nav > li.dropdown, .navbar-inner .nav > li.dropdown > a {
  padding-left: 4px !important; 
  padding-right: 4px !important;
}

#header .navbar-inner .nav > li {
  margin-left: 0px !important; 
  margin-right: 0px !important; 
}

#header .navbar-inner li.dropdown .dropdown-toggle i {
  font-size: 15px;
}

#header .navbar-inner li.dropdown .dropdown-toggle .label {
  position: relative;
  top:-3px;
  font-size: 9px !important; 
  padding-top: 0px !important; 
  padding-bottom: 0px !important;
  margin-top: 0px !important; 
  display: inline-block !important;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#header.navbar-inverse .btn-navbar {
  margin-top: 6px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e9ebec;
  background-image: -moz-linear-gradient(top, #e9ebec, #caced1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9ebec), to(#caced1));
  background-image: -webkit-linear-gradient(top, #e9ebec, #caced1);
  background-image: -o-linear-gradient(top, #e9ebec, #caced1);
  background-image: linear-gradient(to bottom, #e9ebec, #caced1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcaced1', endColorstr='#ffcaced1', GradientType=0);
  border-color: #caced1 #caced1 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#header.navbar-inverse .btn-navbar:hover {
  background-color: #caced1;
}

#header .navbar-inner {
  top:0px;
  width: 100%;
  margin: 0px !important;
  margin-bottom: -2px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  padding: 0px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#header.navbar-inverse .navbar-inner {
  padding-top: 4px;
  height: 42px; 
}

#header.navbar-inverse .divider-vertical {
  height: 40px;
}

#header .navbar-search {
  margin-left: 110px;
}

#header .top-nav .dropdown-menu {
  margin-top: 3px;
}

#header .search-query, #sidebar .search-query  {
  padding-right: 30px !important;
}

#header .search-input-icon > i, #sidebar .search-input-icon > i {
  display: inline-block !important;
  position: relative !important;
  top: 2px !important;
  right: 28px !important;
  font-size: 18px;
  cursor: pointer;
}  

/* main container */
#container {

}

.fixed-top #container {
  margin-top: 48px;  
}

/* i8 fix for form input height in fluid rows */
.ie8 .row-fluid [class*="span"] {
    1min-height: 20px !important;
}

/* body container */
#body {  
  margin-top: 0px;
  margin-left: 215px; 
  min-height: 800px;    
  background: #f7f7f7 url("../img/body-bg.png"); 
  border-bottom: 2px solid #ddd;
}

/* page container */
.sidebar-toggler {
  -webkit-border-radius: 4px 0px 0px 4px;
     -moz-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: 12px;
  width: 23px;
  height: 23px;
  background-color: #e9ebec;
  background-image: -moz-linear-gradient(top, #e9ebec, #caced1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9ebec), to(#caced1));
  background-image: -webkit-linear-gradient(top, #e9ebec, #caced1);
  background-image: -o-linear-gradient(top, #e9ebec, #caced1);
  background-image: linear-gradient(to bottom, #e9ebec, #caced1);
  background-repeat: repeat-x;
}

.sidebar-toggler:before {
   margin: 2px 2px 7px 8px;
   display: block;
   font-size: 18px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.sidebar-toggler.closed:before, 
.sidebar-closed .sidebar-toggler:before {
   margin: 2px 2px 7px 10px;
   content: "\f105";
}


.sidebar-closed .sidebar-toggler {
  margin-right: 0px !important;
}
 
.sidebar-closed > #sidebar {
  width: 40px !important;
}

.sidebar-closed > #body {
  margin-left: 40px !important;
}

.sidebar-closed > #sidebar > ul > li > a .selected {
  right: -3px !important;
}

.sidebar-closed > #sidebar > ul > li > a > .title,
.sidebar-closed > #sidebar > ul > li > a > .arrow {
  display: none !important;
}

.sidebar-closed .sidebar-toggler {
  margin-right: 3px;
}

.sidebar-closed > #sidebar > ul {
  width: 40px !important;
}

.sidebar-closed > #sidebar > ul > li > a {
  padding-left: 7px;
}

.sidebar-closed > #sidebar > ul > li:hover {
  width: 225px;   
  position: relative;
  z-index: 2000;
  display: block !important;
}

.sidebar-closed > #sidebar > ul > li:hover .selected {
  display: none;
}

.sidebar-closed > #sidebar > ul > li:hover > a > i {
  margin-right: 10px;
}

.sidebar-closed > #sidebar > ul > li:hover .title {
  display: inline !important;
}

.sidebar-closed > #sidebar > ul > li > .sub {
  padding: 0;
  display: none !important;
}

.sidebar-closed > #sidebar > ul > li:hover > .sub {    
  width: 184px;
  position: absolute;
  z-index: 2000;
  left: 21px;
  margin-top: 0;
  top: 100%;
  display: block !important;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.sidebar-closed > #sidebar > ul > li:hover > .sub li > a {  
  margin-right:0px;
}

.sidebar-closed > #sidebar > ul > li:hover > .sub li > a:hover {  
 -webkit-border-radius: 0 0 0 0;
     -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
}


/* sidebar menu */
#sidebar .navbar-search {
  border: 0px;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

#sidebar.closed {
  display: none;
}

#sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

#sidebar > ul > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

#sidebar > ul > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;   
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

#sidebar > ul > li a i {
  color:#eaeaea;
  font-size: 18px; 
}

#sidebar > ul > li.active > a{
  border: none; 
}

#sidebar > ul > li.active {
  border-right: 4px solid #d12610;
}
  
#sidebar > ul > li.active > a .arrow {
  margin-right: 1px;
}

#sidebar > ul > li.active > a .arrow.open {
  margin-right: 0px;
}


#sidebar ul > li > a .arrow {
   float: right;
   margin-top: 6px;
   margin-right: 5px;
   width: 0; 
   height: 0;
   border-right: 5px solid #f3f3f3;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
}

#sidebar > ul > li > a .arrow.open {
  float: right;
  margin-top: 10px;
  margin-right: 3px;
  width: 0; 
  height: 0;
  border-top: 5px solid #f3f3f3;
  border-left: 4px solid transparent; 
  border-right: 4px solid transparent; 
}

#sidebar > ul > li > ul.sub {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 20px;
}

#sidebar > ul > li.active > ul.sub {
  display: block;
}

#sidebar > ul > li > ul.sub > li {
  background: none !important;
  padding: 0px;
}

#sidebar > ul > li > ul.sub > li > a {
  display: block;
  position: relative;
  margin: 2px 40px 2px 0;
  padding: 4px 15px;
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  font-size: 13px;
  font-weight: normal;
  background: none !important;
}

#sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover { 
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* ie8, ie9 fixes */
.ie8 #sidebar .search-query, .ie8 #header .search-query {
  padding-top: 7px !important;
  padding-bottom: 5px !important;
}

.ie9 #sidebar .search-query, .ie9 #header .search-query {
  padding-bottom: 0px !important;
  height: 24px;
}

.ie9 #sidebar > ul > li.active > a .triangle {
  right: -1px;
}

/* ie10 fixes */
.ie10 .#header .search-input-icon > i, .ie10 #sidebar .search-input-icon > i {
  top:-2px !important;
}

/* ie8 fixes */
.ie8 #sidebar {
  position: absolute;
  width: 215px;
}

.ie8 #sidebar ul{
  margin-top:47px;
  width: 215px;
}

/* footer container */
#footer {
  padding: 8px 20px 5px 20px; 
  font-size: 12px;
  color: #999;
}

#footer .go-top { 
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-top: -3px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  background-color: #111;
  opacity: 0.8;
  padding: 3px 5px 2px 6px;
}

/* custom wells */
.well {
  background-color: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;   
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;        
}

.well.mini {
  padding: 7px !important;
}


.tab-content {
  padding: 0px;  
  overflow: hidden;
}

/* general form */
form legend {
  margin: 15px 0px 10px 0px !important;
}

.widget-body.form form {
  margin: 0px !important;
  padding: 0px !important;
}

.widget-body.form .form-actions{
  margin-left:-15px !important;
  margin-right:-15px !important;
  margin-top: 20px !important;
  margin-bottom: -15px !important;
  margin-top: 20px;
  padding-left: 195px;
   -webkit-border-radius: 0px 0px 4px 4px;
       -moz-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
}

.widget-body .dataTables_info, .widget-body .dataTables_paginate {  
  margin-top: 5px !important;
  padding-bottom: 0px !important;
  margin-bottom: -4px !important;
}

.widget-body .table { 
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/* custom form input error states with icons */
.input-icon input {
  padding-right: 25px !important;
}

.input-icon .input-error, .input-icon .input-warning, .input-icon .input-success {
  display: inline-block !important;
  position: relative !important;
  top: 4px;
  right: 25px !important;
  font-size: 16px;
}

.input-icon .input-error {
  color:#B94A48;
}
.input-icon .input-warning {
  color: #C09853;
}
.input-icon .input-success {
  color: #468847;
}

/* custom breadcrumb */
.breadcrumb {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

  box-shadow: none !important;
  margin-left: -20px;
  margin-right: -20px;
  
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 20px; 
  
  text-shadow:none !important;
  border:0px !important;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  background-color: #EFEFEF;
}
.breadcrumb .tooltip {
  text-shadow:none !important;
}

/* widget container */
.sortable .widget .widget-title {
  cursor: move;
}

.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  margin-top: 0px !important;
  margin-left: 1%;
  margin-right: 0.6%;
   -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.sortable-box-placeholder * {
  visibility:hidden;
}

.widget {
  background: none repeat scroll 0 0 #F9F9F9;
  border-top: 1px solid #e0dede;
  border-left: 1px solid #e0dede;
  border-right: 1px solid #e0dede;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.widget-title {
  background-color: #EFEFEF;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
  background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
  border-bottom: 1px solid #e0dede;
  height: 36px; 
  -webkit-border-radius: 3px 3px 0px 0px;
     -moz-border-radius: 3px 3px 0px 0px;
          border-radius: 3px 3px 0px 0px;
}

.widget-title > h4 {
  color: #444;
  float: left;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 11px 10px 15px;
  line-height: 12px;
  margin: 0;
}

.widget-title > h4 i {
  font-size: 14px;
  margin-right: 2px;
}

.widget-title > .tools,
.widget-title > .actions {
  padding: 3px 5px 2px;
  float: right;
  margin: 6px 0px 0 0;
}

.widget-title > .tools > a {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  color: #555;
  font-size: 14px;
}

.widget-title > .tools > a:hover {
  text-decoration: none;
  opacity: .6;
}

.widget-title > .tools > a:active {
  text-decoration: none;
}

.widget-title > .actions > .btn {
  margin-top: -5px !important;
}

.widget-title > .actions > .btn-group > .btn {
  margin-top: -5px;
}

.widget-title > .actions > .btn-group > .btn.btn-mini {
  margin-top: -5px;
}

.widget-title > .actions > .btn.btn-mini {
  margin-top: -5px;
}

.widget-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: 6px;
  margin-right: 6px;
}

.widget-body {
  display: block;
  padding: 15px 15px;
  border-bottom: 1px solid #CDCDCD;
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;
  
}

/* charts & stats */
.chart, .pie, .bars {
  overflow: hidden;
  height: 300px;
}

.stat {
  margin: 0px; 
  padding: 0px;
}

.item-list.table .percent {
  width: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.item-list.table .title {
  padding-top: -5px;
}

.stat .title {
  margin-left: 10px;
  margin-right: 10px;
  font-size1: 13px;
} 

.stat.good .percent  {
  color: #52e136;
  font-size: 16px;
  font-weight: bold;
}

.stat.bad .percent {
  color: #d12610;
  font-size: 16px;
  font-weight: bold;
 } 

.stat.ok .percent {
  color: #37b7f3;
  font-size: 16px;
  font-weight: bold;
 } 

/* general list for item with picture */
ul.item-list li .pic {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  -webkit-border-radius: 2px !important;
     -moz-border-radius: 2px !important;
          border-radius: 2px !important;
}
ul.item-list {
  margin: 0px;
  list-style: none;
}
ul.item-list li {
  padding: 7px 0 5px 0px;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid #EBEBEB;
  font-size: 12px;
}
ul.item-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
}
ul.item-list li:last-child {
  border-top: none;
  border-bottom: none;
}
ul.item-list li .label {
  margin-right: 5px;
}

/* general purpose block with css3 gradient background */
.block {
  background-color: #F6F6F6;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
  background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF9F9F9', endColorstr='#ffEDEDED', GradientType=0);

  border: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.4);

 -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  
  line-height: 18px;
  margin: 0 0 20px 0;
  padding: 10px;
}

/* dashboard stats */
.stats-overview-cont {
  padding-top:0px;
  margin-bottom: 15px;
} 
.stats-overview {
  clear: both;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  margin-bottom: 5px;
}

.stats-overview .display {
  margin-right: 5px;
  float: left;
}

.stats-overview .details {
  color:#888;  
}

.stats-overview .details .title {
  color: #777;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 3px;
}
.stats-overview .details .title i {
  color: #999;
  margin-right: 2px;
}
.stats-overview .details .numbers {
  color: #777;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.stats-overview .progress {
  height: 10px;
  margin-bottom:10px !important; 
}

.stats-overview:hover {
  text-decoration: none !important;
  border-color: #999 !important;
  color: #444 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1) !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.55) !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
}


/* mini chart and bar containers  */
.bar-chart {display: none}
.line-chart {display: none}

/* custom label and badges */
.label {  
  -webkit-border-radius: 2px 
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  text-shadow: none !important;
}

.label-success, .badge-success {
  border-color: #5AAD34;
  background-color: #5fd02c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97e076), color-stop(100%, #5fd02c));
  background-image: -webkit-linear-gradient(top, #97e076, #5fd02c);
  background-image: -moz-linear-gradient(top, #97e076, #5fd02c);
  background-image: -ms-linear-gradient(top, #97e076, #5fd02c);
  background-image: -o-linear-gradient(top, #97e076, #5fd02c);
  background-image: linear-gradient(top, #97e076, #5fd02c);
}

.label-warning, .badge-warning {
  border-color: #F4A506;
  background-color: #fcb322;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffde9d), color-stop(100%, #fcb322));
  background-image: -webkit-linear-gradient(top, #ffde9d, #fcb322);
  background-image: -moz-linear-gradient(top, #ffde9d, #fcb322);
  background-image: -ms-linear-gradient(top, #ffde9d, #fcb322);
  background-image: -o-linear-gradient(top, #ffde9d, #fcb322);
  background-image: linear-gradient(top, #ffde9d, #fcb322);
}

.label-important, .badge-important {
  border-color: #FA5833;
  background-color: #ed4e2a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb2a1), color-stop(100%, #ed4e2a));
  background-image: -webkit-linear-gradient(top, #fbb2a1, #ed4e2a);
  background-image: -moz-linear-gradient(top, #fbb2a1, #ed4e2a);
  background-image: -ms-linear-gradient(top, #fbb2a1, #ed4e2a);
  background-image: -o-linear-gradient(top, #fbb2a1, #ed4e2a);
  background-image: linear-gradient(top, #fbb2a1, #ed4e2a);
}

.label-info, .badge-info {
  border-color: #2FABE9;
  background-color: #57b5e3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aedbf2), color-stop(100%, #57b5e3));
  background-image: -webkit-linear-gradient(top, #aedbf2, #57b5e3);
  background-image: -moz-linear-gradient(top, #aedbf2, #57b5e3);
  background-image: -ms-linear-gradient(top, #aedbf2, #57b5e3);
  background-image: -o-linear-gradient(top, #aedbf2, #57b5e3);
  background-image: linear-gradient(top, #aedbf2, #57b5e3);
}

.label-mini {
  font-size: 11px;
}

/* icon buttons */
.icon-btn {
    height: 70px;
    width: 50px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #ddd;
    padding: 16px 0px 0px 0px;
    font-size: 10px;
    background-color: #fafafa !important;
    background-image: -moz-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef)) !important;
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: -o-linear-gradient(top, #fafafa, #efefef) !important;
    background-image: linear-gradient(to bottom, #fafafa, #efefef) !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffefefef', GradientType=0) !important;
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
     -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
      box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
  display:block !important;
  color: #646464 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, .6) !important;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.ie8 .icon-btn:hover {
  filter: none !important;
} 

.icon-btn:hover {
  text-decoration: none !important;
  border-color: #999 !important;
  color: #444 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1) !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.55) !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
}

.icon-btn:hover .badge {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.7) !important;
       -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.7) !important;
            box-shadow: 0px 0px 4px rgba(0,0,0,.7) !important;
}

.icon-btn i {
  font-size: 20px;
  color: #777 !important;
}

.icon-btn div {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 10px !important;
  font-family:Arial, Helvetica, sans-serif;
}

.icon-btn .badge {
  position: absolute;
  font-size: 10px !important;
  top: -5px;
  right: -5px;
  height: 12px;
  padding: 0px 5px 4px 5px;
  color: white !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.55);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
}

/* custom dropdown */
.dropdown-menu {   
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0px 0;
  margin: 2px 0 0;
  list-style: none;
  text-shadow: none;
    background-color: #fcfcfc;
    border: 4px solid rgba(0, 2, 1, 0.2);
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 2, 1, 0.4);
       -moz-box-shadow: 0 5px 10px rgba(0, 2, 1, 0.4);
            box-shadow: 0 5px 10px rgba(0, 2, 1, 0.4);
    -webkit-background-clip: padding-box;
       -moz-background-clipp: padding;
            background-clip: padding-box;
  padding: 0px 0;
  margin:0px;
  list-style: none;
  text-shadow: none;
}

.dropdown-menu.opens-left {
  1margin-top: 2px;
  margin-left: -88px;
}

.ie8 .dropdown-menu.opens-left {
  margin-left: -82px;
}

.dropdown-menu.extended {
  top:40px;  
  min-width: 160px !important;
  max-width: 300px !important;
  width: 233px !important;
}

.dropdown-menu.extended li a{
  display: block;
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: normal !important;
}

.dropdown-menu.extended .arrow{
  top:-14px;
  left: 10px;
  position: absolute;
  margin-top: 6px;
  margin-right: 12px;
  width: 0; 
  height: 0;
  border-bottom: 8px solid #f3f3f3;
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent;   
}

.dropdown-menu.extended li i{
  margin-right: 3px;
}

.dropdown-menu.extended li a{
   padding: 10px !important;
   background-color: #fafafa !important;
}

.dropdown-menu.extended li p{
  padding: 10px;
  background-color: #eee;
  margin: 0px;
  color: #666;
}

.dropdown-menu.extended li a{
  padding: 7px 0 5px 0px;
  list-style: none;
  border-top: 1px solid white !important;
  border-bottom: 1px solid #EBEBEB !important;
  font-size: 12px;
}
.dropdown-menu.extended li:first-child a {
  border-top: none;
  border-bottom: 1px solid #EBEBEB !important;
}
.dropdown-menu.extended li:last-child a {
  border-top: 1px solid white !important;
  border-bottom: 1px solid #EBEBEB !important;
}

.dropdown-menu.inbox li a .photo img {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 4px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.dropdown-menu.inbox li a .subject {
  display: block;
}

.dropdown-menu.inbox li a .subject .from {
  font-size: 12px;
  font-weight: bold;
}

.dropdown-menu.inbox li a .subject .time {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  right: 5px;
}

.dropdown-menu.inbox li a .message {
  display: block !important;
  font-size: 11px;
}

/* star rating */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}
.rating span.star,
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover,
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before,
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}

/* dashboard report range containers */
.report-range-container {
  display: inline-block;
  background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;
}
.report-range-container .caret {
  margin-top: 8px; margin-left:5px;
}
.report-range-container i {
  margin-top: 2px;
  margin-right: 3px; 
}
.dashboard-report-range-container span {
  font-weight: normal; 
} 

.dashboard-report-range-container {
  text-shadow:none !important;
  padding-top: 1px;
  margin-right: -10px;
  margin-top: -8px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #d12610;
}
.dashboard-report-range-container i {
  color: #fff;
  margin-top: 3px;
  margin-right: 3px; 
}
.dashboard-report-range-container span {
  font-weight: normal; 
} 
.dashboard-report-range-container .caret {
  border-top-color:#fff !important;
  margin-top: 8px; 
  margin-left:3px;
  margin-right: 3px;
}

/* adjust uniform components */
.radio, .checkbox {
  padding-left: 0px !important;
}

.checkbox .checker {
  margin-top: -2px !important;
  margin-right: 2px !important;
}

.radio, .checkbox {
  padding-left: 0px !important;
}

.controls > .radio,
.controls > .checkbox {
  display: inline-block;
  padding: 0 !important;
  margin: 5px 15px 14px 0 !important;
}

.controls > .radio.line,
.controls > .checkbox.line {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 5px !important;
}

.controls .text {
  display: block;
  margin-top: 5px;
}

.checkbox  div.checker {
  margin-right: 2px !important;
}

.uploader {
  margin-top: 2px !important;
}

/* item block with details shown on hover */
.item {
  overflow: hidden;
  display: block;
}

.item .details {
  width: 100%;
  display: none;
  background-color: #000;
  color: #fff !important;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom:30px; 
  margin-bottom:-30px; 
  overflow: hidden; 
  z-index: 6;
}
.item:hover .details {
  display: block;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.item:hover .zoom-icon{
  opacity:0.5;  
  filter: alpha(opacity = 50);
}

/* zoom icon overlay on images */
.zoom {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;   
  z-index: 5;
}

.zoom .zoom-icon {
  background-image:url("../img/overlay-icon.png");
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0; 
  filter: alpha(opacity = 0);
  z-index: 6;  
  top:0;  
}

/* style switcher */
#styler {
  position: absolute;
  width: 20px;
  height: 22px;
  overflow: hidden;
  top:48px;
  right: 21px;
  white-space: nowrap;
  padding: 5px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #aaa;
  z-index: 5;

  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}

#styler > i {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}

#styler label {
  display: inline-block !important;
}

#styler .text {
  margin-right: 2px;
  font-weight: bold;
  font-size: 14px;
}

#styler .settings {
  display: none;
}

#styler .colors {
}

#styler .checker {
  display: inline-block !important;
  margin-top:-1px; 
}

#styler .colors span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px 1px -7px 1px;
  border: 2px solid #ddd;
  cursor: pointer;
}

#styler .layout {
  width: 100px;
  margin-top: 7px;
  margin-left: 63px;
  margin-bottom: 5px;
  display: block;
}

#styler .colors span.active, #styler .colors span:hover {
  border: 2px solid white;
}

#styler .colors .color-default {
  background-color: #333438;
}
#styler .colors .color-red {
  background-color: #7a2e1c;
}
#styler .colors .color-grey {
  background-color: #908f8f;
}
#styler .colors .color-navygrey {
  background-color: #44464f;
}
#styler .colors .color-blue {
  background-color: #195e7f;
}


/* Circle stats */
.knobify {
  border: 0 !important;
  width: 0px;
}
.ie8 .knobify {
  display: none;
}

.circle-stats {
  position: relative;
  margin: 10px 0px 10px 0px;
}

.circle-stat {
 padding:2px;
}

.circle-stat:hover {
  text-decoration: none !important;
  border-color: #999 !important;
  color: #444 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1) !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.55) !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .55) !important;
}
.circle-stat canvas {
}
.circle-stat:before,
.circle-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.circle-stat:after {
  clear: both;
}

.circle-stat .visual {
  display: block;
  float: left;
}

.circle-stat .details {
  display: block;
  float: left;  
  margin-left: 5px;
  padding-top: 7px;
}

.circle-stat .details .title {
  margin: 10px 0px 5px 0px !important;
  padding: 0px !important; 
  font-size: 13px;  
  text-shadow: 0 1px rgba(232, 232, 232, 0.75);
  color: #777;
}   

.ie8 .circle-stat .details .title {
  margin-top:5px !important;
}
.ie8 .circle-stat .details {
  padding-top: 0px !important;
  margin-bottom: 5px !important;
}

.circle-stat .details .title i {
  margin-top:2px !important;
  color: #52e136;
  font-size: 16px;
}

.circle-stat .details .title i.down {
  color: #b63625;
}

.circle-stat .details .number {
  margin: 0px !important;
  margin-bottom: 7px !important;
  font-size: 24px;
  padding: 0px; 
  font-weight: bold;
  text-shadow: 0 1px rgba(244, 244, 244, 0.85);
  color: #999;
}

/*map stats*/

.map-stat {
  margin: 20px;
  display: block;
}
.map-stat:before,
.map-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.map-stat:after {
  clear: both;
}

.map-stat .visual {
  width: 70px;
  height: 60px;
  margin-right: 5px;
  display: block;
  float: left;
}

.map-stat .visual i{
  margin-top: 15px;
  display: block;
  font-size: 68px;
  color: #4d4d4d;
}

.map-stat .details {
  display: block;
  float: left;  
  margin-left: 5px;
  padding-top: 0px;
}

.map-stat .details .title {
  margin: 0px 0px 5px 0px !important;
  padding: 0px !important; 
  font-size: 12px;  
  color: #878787;
}   

.map-stat .details .title i {
  margin-top:2px !important;
  color: #52e136;
  font-size: 16px;
}

.map-stat .details .title i.down {
  color: #b63625;
}

.map-stat .details .number {
  margin: 0px !important;
  margin-bottom: 7px !important;
  font-size: 42px;
  padding: 0px; 
  font-weight: bold;
  color: #35d1fe;
}

/*scroller padding*/
.scroller {
  padding-right: 10px;
}


/*jqvmap changes*/
.jqvmap-zoomin {
 background-color: #666 !important;
}
.jqvmap-zoomout {
 background-color: #666 !important; 
}
.vmaps {
  position: relative; 
  overflow: hidden;
  height: 300px;
}


/* google maps */
.gmaps {
  height: 300px;
  width: 100%;
}

/* important!  bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
.gmaps img {
  max-width: none; 
}

#gmap_static div{
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  height:100%;
  display:block;
  height: 300px;
}

#gmap_routes_instructions {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* advance tables*/
.table-advance {
  margin-bottom: 10px !important;
}

.table-advance thead { 
  color: #999; 
}

.table-advance thead tr th{
  background-color: #DDD;  
  color: #666;
}

.table-advance div.success, .table-advance div.info, 
.table-advance div.important, .table-advance div.warning, .table-advance div.danger {
  position: absolute;
  margin-top:-5px;
  float: left;
  width: 2px;
  height: 30px;
  margin-right: 20px !important;
}

.table-advance tr td {
  border-left-width: 0px; 
}
.table-advance tr td:first-child {
  border-left-width: 1px !important; 
}

.table-advance tr td.highlight:first-child a {
  margin-left: 15px;
}

.table-advance td.highlight div.success {  
  border-left: 4px solid #66ee66;
}

.table-advance td.highlight div.info {  
  border-left: 4px solid #87ceeb;
}

.table-advance td.highlight div.important {  
  border-left: 4px solid #f02c71;
}

.table-advance td.highlight div.warning {  
  border-left: 4px solid #fdbb39;
}

.table-advance td.highlight div.danger {  
  border-left: 4px solid #e23e29;
}

/*gritter changes*/
.gritter-close {
  left:auto !important;
  right: 3px !important;
}

/* calendar and calendar form */
.external-event {
  display: inline-block !important;
  cursor:move;
  margin-bottom: 5px !important;  
  margin-right: 5px !important;
}

/* fix full calendar title */

.has-toolbar .fc-header-right {
  padding-right: 50px !important;
}
.fc-header-title h2 {
  font-size: 13px !important;
  line-height: 20px;
  color: #111;
}
.event-form-title {
  margin-top:0px;
  margin-bottom: 13px; 
  font-size: 13px !important;
  line-height: 20px;
  color: #111;
}

.fc-event-skin {
  border: 0px !important;
  background-color: inherit !important;
}

.fc-event.label {
  text-shadow:none !important;
  padding: 4px 4px !important;
}

.label-default  {
  background-color: #999 !important;
}

/* fix calendar title for ie8 and ie9 */
.ie8 .label-success, .ie9 .label-success {
  background-color: #5fd02c !important;
}

.ie8 .label-warning, .ie9 .label-warning {
  background-color: #fcb322 !important;
}
.ie8 .label-important, .ie9 .label-important {
  background-color: #ed4e2a !important;
}
.ie8 .label-info, .ie9 .label-info {
  background-color: #57b5e3 !important;
}
/* hide chosen search box */
.event_priority_chzn .chzn-search {
  display: none !important;
}

/* custom tabs */

.tabbable-custom { 
  -webkit-border-radius: 0; 
     -moz-border-radius: 0; 
          border-radius: 0; 
   margin-bottom: 15px;       
}

.widget .row-fluid:last-child .tabbable-custom {
  margin-bottom: 0px;
}

.tabbable-custom > .nav-tabs { 
  border: none; 
  margin: 0px;
}

.tabbable-custom > .tab-content { 
   background-color: #fff;
   border: 1px solid #ddd;  
   -webkit-border-radius: 0; 
   -moz-border-radius: 0; 
   border-radius: 0; 
   padding: 10px;
}

.tabbable-custom .nav-tabs > li { 
  margin-right: 2px; 
  border-top: 2px solid transparent; 
}

.tabbable-custom .nav-tabs > li > a { 
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px;
   border-radius: 2px; 
   margin-right: 0; 
   padding: 5px 10px; 
 }

.tabbable-custom .nav-tabs > li > a:hover { 
  background: none;
  border-color:transparent;
}

.tabbable-custom .nav-tabs > li.active { 
  border-top: 3px solid #d12610; 
  margin-top: 0; 
  position: relative; 
}

.tabbable-custom .nav-tabs > li.active > a  { 
  border-top: none; 
  font-weight: bold; 
}

.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 #d4d4d4 transparent; 
}

.tabbable-custom .nav-tabs > li { 
  margin-right: 2px; 
  border-top: 2px solid transparent; 
}

.tabs-below.tabbable-custom .nav-tabs > li { 
  border-top: none; 
  border-bottom: 2px solid transparent; 
  margin-top: -1px; 
}

.tabs-below.tabbable-custom .nav-tabs > li.active { 
    border-top: none; 
    border-bottom: 3px solid #d12610; 
    margin-bottom: 0; position: relative; 
}

.tabs-below.tabbable-custom .nav-tabs > li.active > a { 
  border-bottom: none 
}

.tabs-below.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 #d4d4d4 transparent; 
}
    
.tabs-left.tabbable-custom .nav-tabs > li { 
  margin-right: 0; border-left: 2px solid transparent; margin-top: none; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active { 
  border-top: none; 
  border-left: 3px solid #d12610; 
  margin-top: 0; margin-right: -1px; position: relative; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active > a { 
  border-top: 1px solid #d4d4d4; 
  border-left: 1px solid transparent; 
}

.tabs-left.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 transparent #d4d4d4 transparent; 
}
    
.tabs-right.tabbable-custom .nav-tabs > li { 
  margin-right: 0; 
  border-right: 2px solid transparent; 
  border-top: none; }

.tabs-right.tabbable-custom .nav-tabs > li.active { 
  border-top: none; 
  border-right: 3px solid #d12610; 
  margin-top: 0; 
  margin-left: -1px; 
  position: relative; 
}

.tabs-right.tabbable-custom .nav-tabs > li.active > a { 
  border-top: 1px solid #d4d4d4; 
  border-right: 1px solid transparent; 
}

.tabs-right.tabbable-custom .nav-tabs > li.active > a:hover { 
  background: #fff; 
  border-color: #d4d4d4 transparent #d4d4d4; 
}

.tabs-right.tabbable-custom .nav-tabs > li a, 
.tabs-left.tabbable-custom .nav-tabs > li a { 
  padding: 8px 10px 
}

/* portlet tabs */

.widget-tabs .nav-tabs {
    position: relative;
    margin-top: -52px;
}

.widget-tabs .nav-tabs > li {
    float: right;
    border-top: 3px solid transparent;
}

.widget-tabs .nav-tabs {
    border-bottom: none;
    margin-right: 5px;
}

.widget-tabs .nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 10px;
  line-height: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
     -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
             border-radius: 0px;   
}

.widget-tabs .nav-tabs > li:last-child > a {
  border-right:0;
}

.widget-tabs .nav-tabs > .active {
  border-top: 3px solid #d12610;
}

.widget-tabs .nav-tabs > li {
  margin-left: 1px;
}

.widget-tabs .nav-tabs > li > a:hover {   
  margin-bottom: 0px;
  border-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent;
  background-color: #f9f9f9;
}  

.widget-tabs .nav-tabs > .active > a  {
  color: #555555;
  cursor: default;
  background-color: #f9f9f9;
}

.widget-tabs .nav-tabs > .active > a:hover {
  background-color: #f9f9f9 !important;
}

.widget-tabs .widget-body.form {
  padding: 0px;
}

.widget-tabs .widget-body.form .tab-pane {
  padding: 15px;
  padding-top: 0px;
}

.widget-tabs .widget-body.form .nav-tabs {
  margin-top: -37px;
}

/***
Todo list
***/
.todo-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.todo-list li {
  padding: 1px 0 7px 0px;
  background-color: #fafafa;
  margin-bottom: 7px;   
  border-bottom: 1px solid #EBEBEB;
}

.todo-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
}

.todo-list li:last-child {
  border-top: none;
  border-bottom: none;
}

.todo-list li:before, 
.todo-list li:after {
  display: table;
  line-height: 0;
  content: "";
}

.todo-list li:after {
  clear: both;
}

.todo-list .col1 {
  float:left;
  width:100%;  
  clear: both;
}

.todo-list .col2 {
  float:left;
  width:120px;
  margin-left:-120px;
  text-align: right;
}

.todo-list .col1 .cont {
  float:left;
  margin-right:120px;
  overflow:hidden;
}


/***
Chats
***/
.chats {
  margin:0;
  padding: 0;
  margin-top: -15px;
  margin-right: 10px;
}

.chats li {
  list-style: none;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 12px;
}

.chats li img.avatar {
  height: 45px;
  width: 45px;
  -webkit-border-radius: 50% !important;
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;
}

.chats li.in img.avatar {
  float: left;
  margin-right: 10px;
}

.chats li .name {
  color:#3590c1;
  font-size: 13px;
  font-weight: 400;
}

.chats li .datetime {
  color:#333;
  font-size: 13px;
  font-weight: 400;
}

.chats li.out img.avatar {
  float: right;
  margin-left: 10px;
}

.chats li .message {
  display: block; 
  padding: 5px;
  position: relative;
}

.chats li.in .message {  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  text-align: left;
  border: 1px solid #ddd;
  margin-left: 65px;
  background: #fafafa 
}

.chats li.in .message .arrow {
  display: block;
  position: absolute;
  top: 5px;
  left: -8px;  
  width: 0; 
  height: 0; 

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-right: 8px solid #ddd;  
}

.chats li.out .message .arrow {
  display: block;
  position: absolute;
  top: 5px;
  right: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;  
  border-left: 8px solid #ddd;  
}

.chats li.out .message {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-right: 65px;
  text-align: right;
}

.chats li.out .name, 
.chats li.out .datetime  {  
  text-align: right;
}

.chats li .message .body {
  display: block; 
}

.chat-form {
  margin-top: 15px;
  padding: 10px;
  background-color: #eee;
  clear: both;   
}

.chat-form .input-cont {
  margin-right: 55px;
}

.chat-form .input-cont input {
  margin-bottom: 0px;
}

.chat-form .input-cont input{
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 
}

.chat-form .input-cont input {
  background-color: #fff !important;
}

.chat-form .input-cont input:focus{
  border: 1px solid #4b8df9 !important;
}

.chat-form .btn-cont {
  margin-top: -38px;
  position: relative;
  float: right;
  width:44px;
}

.chat-form .btn-cont .btn {
  border-left: 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
     -moz-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
  margin-top: 8px;
}

/***
Rows seperated form layout
***/
.form-row-seperated .control-group {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.form-row-seperated .control-group.last {
  border-bottom: 0;
}

.form-row-seperated .control-label {
  width: 170px;
}

.form-row-seperated .controls {
  margin-left: 190px;
}

.form-row-seperated .help-inline,
.form-row-seperated .help-block {
  padding-left: 0;
}

.form-row-seperated .form-actions {
  padding-left: 190px !important;
}

/***
Bordered form layout
***/

.form-bordered .form-actions {
  padding-left: 190px !important;
}

.form-bordered .control-group:first-child {
  border-bottom: 1px solid #eee !important;
}

.form-bordered .control-group {
  padding: 0;
  margin-top: -20px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  border-bottom: 1px solid #eee;
}

.form-bordered .control-group.last {  
  margin-bottom: -20px !important;
  border-bottom: 0;
}


.widget .form-bordered .control-group:first-child {
  margin-top: -15px !important;
}

.form-bordered .control-group .controls {
  padding: 10px;
  position: relative;
  border-left: 1px solid #eee;
}


.form-bordered .control-group .controls .chosen-container  {
  min-height: 32px;
}

.form-bordered .control-group .controls .chosen-container .help-block {
  clear: both;
  padding-top: 10px !important;
}

.form-bordered .control-group .control-label {
  margin-top: 10px;
}

.form-bordered.form-row-stripped .control-group:nth-child(even) {
  background-color: #fcfcfc;
}

.form-bordered.form-label-stripped .control-group:nth-child(even) {
  background-color: #fcfcfc;
} 
  
.form-bordered.form-label-stripped .control-group:nth-child(even) .controls {
  background-color: #ffffff;  
}

.form-bordered .help-inline,
.form-bordered .help-block {
  padding-left: 0;
}


/***
Input icons
***/
/* input with right aligned and colored icons */
.input-icon input {
  padding-right: 25px !important;
}

.input-icon .input-info,
.input-icon .input-error, 
.input-icon .input-warning, 
.input-icon .input-success {
  display: inline-block !important;
  position: relative !important;
  top: 3px;
  right: 25px !important;
  font-size: 16px;
}

.input-icon .input-info {
  color:#27a9e3;
}
.input-icon .input-error {
  color:#B94A48;
}
.input-icon .input-warning {
  color: #C09853;
}
.input-icon .input-success {
  color: #468847;
}

/* input with left aligned icons */
.input-icon.left i {
  color: #ccc;
  display: block !important;
  position: absolute !important;
  z-index: 1;
  margin: 6px 2px 4px 10px; 
  width: 16px;
  height: 16px;
  border1: 1px solid #ddd;
  font-size: 16px;
  text-align: center;
}

.input-icon.left input {
  padding-left: 33px !important;
}

/***
Modify tags input plugin css
***/
div.tagsinput {
  height: 40px !important;
  margin: 0 !important;
  padding: 5px !important;
  overflow: auto !important;
}

div.tagsinput span.tag {
  background: #aaa !important;
  color: #fff !important;
  border: 0 !important;
  padding: 3px 6px !important;
  margin-bottom: 4px !important;

}

div.tagsinput input {
  padding: 3px 6px !important; 
}

div.tagsinput span.tag a {
  color: #fff !important;
}

div.tagsinput .not_valid {
  color: #fff !important;
  padding: 3px 6px !important;
  background-color: #e02222 !important;
}

/***
Fileuploader plugin css changes
***/
.fileupload .close {
  position: relative;
  top:4px !important;
}

/***
Form wizard
***/
.form-wizard .progress {
  margin-bottom: 30px;
}

.form-wizard .steps {
  padding: 10px 0;
  margin-bottom: 15px;
}

.form-wizard .steps .navbar-inner {  
  background-color: #F9F9F9 !important;
  background-image: none !important;
  filter:none !important;
  border: 0px;
  box-shadow: none !important;
}

.form-wizard .steps .navbar-inner li a {
  background-color: #F9F9F9 !important;
  background-image: none !important;
  filter:none !important;
  border: 0px;
  box-shadow: none !important;
}

.form-wizard .step:hover {
  text-decoration: none;
}

.form-wizard .step .number {
  background-color: #e3e3e3;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 15px 12px 15px !important;
  margin-right: 10px;
  -webkit-border-radius: 50% !important;
     -moz-border-radius: 50% !important;
          border-radius: 50% !important;
}

.form-wizard .step .desc {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}
 
.form-wizard .active .step .number {
  background-color: #35aa47;
  color: #fff;
}

.form-wizard .active .step .desc {
  font-weight: 400;
}

.form-wizard .step i {
  display: none;
}

.form-wizard .done .step .number {
  background-color: #f2ae43;
  color: #fff;
}

.form-wizard .done .step .desc {
  font-weight: 400;
}

.form-wizard .done .step i {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  display: inline-block;
}

.form-wizard .tab-pane h4 {
  margin-bottom: 20px !important;
}

.form-wizard .tab-pane .chzn-container {
  position: absolute !important;
}

/***
System feeds
***/
.feeds {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.feeds li {
  background-color: #fafafa;
  margin-bottom: 7px;   
}

.feeds li:before, 
.feeds li:after {
  display: table;
  line-height: 0;
  content: "";
}

.feeds li:after {
  clear: both;
}

.feeds .col1 {
  float:left;
  width:100%;  
  clear: both;
}

.feeds .col2 {
  float:left;
  width:75px;
  margin-left:-75px;
}

.feeds .col1 .cont {
  float:left;
  margin-right:75px;
  overflow:hidden;
}

.feeds .col1 .cont  .cont-col1 {
  float:left;
  margin-right:-100%;
}

.feeds .col1 .cont  .cont-col1 .label {
  float: left;
  width: 14px;
  padding: 7px;
}

.feeds .col1 .cont .cont-col2 {
  float:left;
  width:100%;
}

.feeds .col1 .cont .cont-col2 .desc { 
  margin-left:35px;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow:hidden;
}

.feeds .col2 .date {
  padding: 4px 9px 4px 4px;
  text-align: right;
  font-style: italic;
  color:#c1cbd0;
}

/***
Accordions
***/
.accordion-heading {
  background:#eee;
}

.accordion-heading a {
  text-decoration:none;
}

.accordion-heading a:hover {
  text-decoration:none;
}

/***
Vertical inline menu
***/
.ver-inline-menu {
  margin: 0px;
  list-style: none;
}

.ver-inline-menu li {
  position:relative;
  margin-bottom:1px;
}

.ver-inline-menu li i {
  color:#b9cbd5;
  font-size:15px;
  padding:11px 9px;
  margin:0 8px 0 0;
  background:#e0eaf0 !important;
}

.ver-inline-menu li a {
  color:#557386;
  display:block;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
}

.ver-inline-menu li:hover a,
.ver-inline-menu li:hover i {
  background:#e0eaf0;
  text-decoration:none;
}

.ver-inline-menu li:hover i {
  color:#fff;
  background:#c4d5df !important;
}

.ver-inline-menu li.active a,
.ver-inline-menu li.active i {
  color:#fff;
  background:#169ef4;
  text-decoration:none;
  border-left:solid 1px #0c91e5;
}

.ver-inline-menu li.active i {
  background:#0c91e5 !important;  
}

.ver-inline-menu li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #169ef4;
  position: absolute;
  top: 12px;
  right: -5px;
}


/***
Date tables plugin changes
***/
.dataTable {  
  clear: both;
  margin-top: 5px;
}

.dataTables_filter label {
  line-height: 32px !important;
}

.dataTables_paginate,
.dataTables_filter {
  float: right;
}

/***
jQuery UI Sliders(new in v1.1.1)
***/
.table.sliders td {
  padding: 15px 10px !important;
}

.table.sliders .slider {
  margin-top: 4px;
}

.table.sliders .slider-value {
  padding-top: 5px;
  font-weight: 400;
}

.table.sliders .slider-vertical-value {
  padding-bottom: 5px;
  font-weight: 400;
}

.slider {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  border: 0 !important;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee)) !important;
  background-image: -webkit-linear-gradient(top, #dddddd, #eeeeee) !important;
  background-image: -moz-linear-gradient(top, #dddddd, #eeeeee) !important;
  background-image: -ms-linear-gradient(top, #dddddd, #eeeeee) !important;
  background-image: -o-linear-gradient(top, #dddddd, #eeeeee) !important;
  background-image: linear-gradient(top, #dddddd, #eeeeee) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0 ) !important;
}

.slider-success {
  background-color: #5fd02c !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97e076), color-stop(100%, #5fd02c)) !important;
  background-image: -webkit-linear-gradient(top, #97e076, #5fd02c) !important;
  background-image: -moz-linear-gradient(top, #97e076, #5fd02c) !important;
  background-image: -ms-linear-gradient(top, #97e076, #5fd02c) !important;
  background-image: -o-linear-gradient(top, #97e076, #5fd02c) !important;
  background-image: linear-gradient(top, #97e076, #5fd02c) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97e076', endColorstr='#5fd02c',GradientType=0 ) !important;
}

.slider-warning {
  background-color: #fcb322 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffde9d), color-stop(100%, #fcb322)) !important;
  background-image: -webkit-linear-gradient(top, #ffde9d, #fcb322) !important;
  background-image: -moz-linear-gradient(top, #ffde9d, #fcb322) !important;
  background-image: -ms-linear-gradient(top, #ffde9d, #fcb322) !important;
  background-image: -o-linear-gradient(top, #ffde9d, #fcb322) !important;
  background-image: linear-gradient(top, #ffde9d, #fcb322) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde9d', endColorstr='#fcb322',GradientType=0 ) !important;
}

.slider-important {
  background-color: #ed4e2a !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb2a1), color-stop(100%, #ed4e2a)) !important;
  background-image: -webkit-linear-gradient(top, #fbb2a1, #ed4e2a) !important;
  background-image: -moz-linear-gradient(top, #fbb2a1, #ed4e2a) !important;
  background-image: -ms-linear-gradient(top, #fbb2a1, #ed4e2a) !important;
  background-image: -o-linear-gradient(top, #fbb2a1, #ed4e2a) !important;
  background-image: linear-gradient(top, #fbb2a1, #ed4e2a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb2a1', endColorstr='#ed4e2a',GradientType=0 ) !important;
}

.slider-info {
  background-color: #57b5e3 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aedbf2), color-stop(100%, #57b5e3)) !important;
  background-image: -webkit-linear-gradient(top, #aedbf2, #57b5e3) !important;
  background-image: -moz-linear-gradient(top, #aedbf2, #57b5e3) !important;
  background-image: -ms-linear-gradient(top, #aedbf2, #57b5e3) !important;
  background-image: -o-linear-gradient(top, #aedbf2, #57b5e3) !important;
  background-image: linear-gradient(top, #aedbf2, #57b5e3) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedbf2', endColorstr='#57b5e3',GradientType=0 ) !important;
}

.ui-slider-vertical,
.ui-slider-handle {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.slider-eq > span {
    height:125px; 
    float:left; 
    margin:15px
}

/***
Dropzone css changes(new in v1.4)
***/
.dropzone {
  webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
         border-radius: 0px !important;
}

/***
Bootstrap Tree CSS changes(new in v1.4)
***/
.tree {
  margin: 0;
  padding: 0;
}

.tree a {
  padding: 2px 3px 3px 3px;
  display: block !important;
  line-height: 16px !important;
}

.tree a:hover {
  text-decoration: none;
  background-color: #eee;
}

.tree a.tree-toggle-icon-only,
.tree a.tree-toggle  {
  background-position: 2px -20px;
}

.tree a.tree-toggle.closed, 
.tree a.tree-toggle-icon-only.closed {
  background-position: 2px 3px;
}

.select2-container .select2-choice {
  height: 27px !important;
  padding: 0 0 0 8px !important;
}

/*custom start*/
.searchBar{
	display:block;
	float:left;
	
}
.searchBySite,.searchByTitle{
	float:left;
	margin-right:10px;
}

.actionsBar{
	float:right;
}
.controls > .radio, .controls > .checkbox {
    display: inline-block;
    margin: 5px 15px 14px 0 !important;
    padding: 0 !important;
}
.info{
	border:1px solid #999;
	display:block;
	padding:5px;
}

.widget-body{
	overflow:hidden;
	clear:both;
}
.FLeft{
	float:left;
	margin:0;
	padding:0;
}
.actionIcons {
	float:left;
	margin-right:5px;
}
.validation_controls_options{
	list-style:none;
	margin:0;
	padding:0;
}
.validation_controls_options input{
	margin-right:10px;
	margin-top:0;
}
.div_values span{
	clear:both;
	float:left;
}
#facebox .popup
{
	background:#fff;
	padding:10px;
}
#facebox .footer{
	overflow:hidden;
	margin:0px;
	padding:0px;
}
.ac_results {
    background-color: #fff;
    border: 1px solid #7FB7FB;
    overflow: hidden;
    padding: 0;
}
.ac_results ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ac_results iframe {
    display: block;
    height: 3000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 3000px;
    z-index: -1;
}
.ac_results li {
    cursor: pointer;
    display: block;
    font: menu;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    padding: 2px 5px;
    width: 100%;
}
.DataLog{
}
.DataLog ul{
	list-style:none;
	margin:0;
}

.title1{
	float:left;
	font-weight:bold;
}

.title2{
	float:right;
	font-style:italic;
}
.welcomedetails{
	padding:0 10px 0 0;
	display:block;
}
.welcomedetails span{
	line-height:38px;
	display:block;
	color:#CCC;
}
.welcomedetails span a{
	color:#fff;
}

.dataTables_length{
	margin-top:5px;
	float:left;
}
/*custom ends*/